/*.responsiveCard {*/
    /*padding-left: 0px !important;*/
    /*border-radius: 5px;*/
    /*padding-right: 0px !important;*/
    /*box-shadow: rgba(0,0,0,0.1) 0 0 20px;*/
/*}*/

.mt30{
    margin-top: 30px !important;
}
.mb20{
    margin-bottom: 20px !important;
}
.mb50{
    margin-bottom: 50px !important;
}