
@font-face {
    src: url(../font/SF-UI-Display-Bold.ttf);
    font-family: 'SF-UI-Display-Bold';
}
@font-face {
    src: url(../font/SF-UI-Display-Regular.otf);
    font-family: 'SF-UI-Display-Regular';
}
@font-face {
    src: url(../font/Sofia-Pro-Semi-Bold.otf);
    font-family: 'Sofia-Pro-Semi-Bold';
}
@font-face {
    src: url(../font/sofia-pro-regular-webfont.ttf);
    font-family: 'sofia-pro-regular-webfont';
}
@font-face{
    src: url(../font/sofiapro-light.otf);
    font-family: 'sofiapro-light';
}
@font-face{
    src: url(../font/sofia-pro-black-webfont.ttf);
    font-family: 'sofia-pro-black-webfont';
}
@font-face{
    src: url(../font/SF-UI-Display-Light.otf);
    font-family: 'SF-UI-Display-Light';
}
@font-face{
    src: url(../font/Sofia-Pro-Medium.otf);
    font-family: 'Sofia-Pro-Medium';
}
@font-face{
    src: url(../font/SF-UI-Display-Medium.otf);
    font-family: 'SF-UI-Display-Medium';
}
@font-face{
    src: url(../font/Sofia-Pro-Bold.otf);
    font-family: 'Sofia-Pro-Bold';
}

body {
   min-height: 2000px;
    background-color: #F5F5F5 !important;
    padding-top: 70px !important;
}
.nopadding{
    padding-left: 0;
    padding-right: 0;
}
.nomrgn{
    margin:0px !important;
}
/*.navbar-default {
    background-color: #fff;
    border-color:#fff;
    box-shadow: 0px 10px 20px #00000024;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 11px;
    border-top-left-radius: 0;
    background-color: #03074399;
    border: transparent;
    border-top-right-radius: 0;
}
.modal {
    overflow-y: auto !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #030A63;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #030A63;
}
.navbar-default .navbar-nav>li>a {
    color: #7e7878;
    font-family: 'SF-UI-Display-Medium';
    font-size: 14px;
    font-weight: normal;
}
.navbar-toggle{
    background-color: #000;
}

.navbar-default .navbar-toggle {
    border-color: #11101099 !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #090909 !important;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #5d5959 !important;
    background-color: transparent !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff !important;
    background-color: #19368300 !important;
    color: #00B929 !important;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #030A63;
}
.navbar-brand>img {
    display: block;
    width:75%;
}*/
@media (min-width: 1200px){
    .container {
        width: 1170px !important;
    }
}

.icons{
    float: left;
    /*margin-top: -6px;*/
}
.icons i{
    border-radius: 50%;
    border: 1px solid #cac3c3 !important;
    color: #F42828;
    padding: 6px 9px;
}

.sperater{
    font-size: 22px;
}

.consultantbanner{    
    height: 500px;
    text-align: center;
    background: url(../images/rawpixel-594848-unsplash.jpg);            
   background-repeat: no-repeat;
    background-size: cover;
}

.consultantbanner span {    

    font-family: "SF-UI-Display-Bold";
    font-size: 49px;
    /*line-height: 200px;*/
    position: absolute;
    left: 34%;
    top: 33%;
    letter-spacing: 0.02em;
    color: #FFF;
    font-weight: bold;
     text-shadow: 1px 2px #656262;

}

.aboutus_heading h3{
    text-align: center;
    font-size: 23px;
    font-family: "SF-UI-Display-Bold";
}
.aboutus_heading p{
    text-align: left;
    font-size: 15px;
    font-family: "sofiapro-light";
}

.industries_panel{
    background-color: #FFF;
}

.white{
    background-color: #FFF;
}

.margin5{
    margin-right: 5%;
}
.paddingdiv{
   padding-left: 9%;
}

.padding-inner{
    padding: 20px 14px 20px;
}

.mrgn-top{
    margin-top: 3%;
}

.mrgn_btm{
    margin-bottom: 3%;
}

/*.nomargin{
    margin: 0 !important;
}
*/
.carrer_pannel_heading span{
    font-size: 28px;    
    font-weight: bold;   
    letter-spacing: 1px;
   font-family: 'Sofia-Pro-Bold';
}

.carrer_pannel_heading a{  
    margin-top: 16px;
    margin-right: 27px;
    color: #0dcc0d  !important;
    font-family: "SF-UI-Display-Bold";
}

.carrer_pannel{
    background-color: #FFF;
    border-radius: 10px;
    padding: 14px;
    border: 1px solid #c9c4c4;
}

.carrer_pannel:hover {
    background-color: #f9f9f9;
}

.skills_btn span{
    font-family: "Sofia Pro Medium";
    font-size: 11px;
    color: #00B9F5;
    border: 1px solid #00B9F5;
    padding: 3px 12px;
    border-radius: 15px;
    margin-right: 4px;
    cursor: pointer;
}

.pdtop{
    padding-top: 26px;
}

.job_name{
    font-family: sofia-pro-regular-webfont;
    font-size: 15px;
    color: #919191;
    margin-bottom: 5px;
    /*margin-left: 11px;*/
}

.job_designation{
    font-family: sofia-pro-regular-webfont;
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
   /* margin-left: 11px;*/
}

.job_location{
    font-family: Sofia-Pro-Medium;
    font-size: 14px;
    color: #00B929;
    margin-bottom: 5px;
   /*margin-left: 11px;*/
    position: relative;
}

.job_amount{
    font-family: Sofia-Pro-Medium;
    font-size: 14px;
    color: #0039A5;
    margin-left: -16px;
    position: relative;
}

.job_date{
    font-family: sofia-pro-regular-webfont;
    font-size: 14px;
    color: #999;
    margin-right: 9px;
    float: right;
}

.mt-top{
    margin-top: 10px;
}

.mt-top-5{
    margin-top: 5%;
}

.mrgn-btm{
    margin-bottom: 2%;
}

.contact_pannel_heading span{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
   font-family: 'Sofia-Pro-Bold';
}

.map-pannel{
    background-color: #F8F8F8;
    margin-top: 2%;
}

.map_container{
    width: 35%;
    height: 550px;
    background-color: #FFFFFFE6;
    position: absolute;
    bottom: 11%;
    left: 18%;
    padding: 70px;
}

.mail_label{
    font-size: 24px;
font-weight: bold;
 font-family: sofia-pro-regular-webfont;
}

.mail_logo{
    float: left;
}

.mail_info{
    display: inline-block;
    position: relative;

top: -6px;

left: 20px;
}

.mail_id{
    font-size: 19px;
    font-family: sofia-pro-regular-webfont;
}

.basic_info{
    margin-bottom: 13%;
}

.map_button{
    font-size: 23px;
    background-color: #FD5555;
    padding: 15px;
    color: #FFF;
font-family: sofia-pro-regular-webfont;
}

.icon_pannel{
    padding: 70px;
}



.footer_icons{
    float: left;
    margin-top: -6px;
    margin-right: 22px;
}
.footer_icons i{
    border-radius: 50%;
    border: 1px solid #cac3c3 !important;
    color: #F42828;
    padding: 11px 13px;
}

.footer{
    background-color: #717171;
        padding: 20px;
}

.become_member span{
    text-align: center;
    color: #dad8d8;
    font-family: sofia-pro-regular-webfont;
}

.copyright_other span{
    text-align: center;
    color: #dad8d8;
    font-family: sofia-pro-regular-webfont;
}

.borderR_none{
    border-radius: 0;
    background-color: #D8D6D64D;
    padding: 14px;
    border: 0 !important;
}

#map{
    width:100%; 
    height:700px;
}

/*media query*/


@media only screen and (max-width: 1330px) {

.map_container {
    width: 51%;
    height: 550px;
    background-color: #FFFFFFE6;
    position: absolute;
    bottom: 7%;
    left: 18%;
    padding: 70px;
}


}


@media only screen and (max-width: 990px) {

.map_container {
    width: 51%;
    height: 550px;
    background-color: #FFFFFFE6;
    position: absolute;
    bottom: 7%;
    left: 18%;
    padding: 70px;
}

.icon_pannel {
    padding: 40px;
}

.icon_column{
    margin-left: 23%;
}


}

@media only screen and (max-width: 768px) {

.map_container {
    width: 65%;
    height: 550px;
    background-color: #FFFFFFE6;
    position: absolute;
    bottom: 7%;
    left: 18%;
    padding: 70px;
}

.icon_pannel {
    padding: 27px;
}

.icon_column{
    width: 100%;
   /* margin:0;*/
}

.margin_res{
    margin-bottom: 3%;
    margin-left: -5%;
}

.sperater{
        display: none;
    }

}


@media only screen and (max-width: 600px) {

.map_container {
    width: 76%;
    height: 470px;
    background-color: #FFFFFFE6;
    position: absolute;
    bottom: 16%;
    left: 11%;
    padding: 48px;
}
.icon_pannel {
    padding: 0px;
    margin-bottom: 70px;
    margin-top: 23px;
    margin-left: -35px;
}

.icon_column{
    margin-left: 15%;
}

.map_button {
    font-size: 20px;
    color: #FFF;
    font-family: sofia-pro-regular-webfont;
}

.mail_id{
    font-size: 12px;
}

.consultantbanner span{
    margin-left: -47px;
    font-size: 40px;
}

}

@media only screen and (max-width: 440px) {


.full-width{
    width: 100%;
}

.align_centered{
    text-align: center;
}

.job_amount{
    margin: 0;
}

}




@media only screen and (max-width: 400px) {

.map_container {
    width: 90%;
    height: 400px;
    background-color: #FFFFFFE6;
    position: absolute;
    bottom: 20%;
    left: 5%;
    padding: 11px;
}

#map{
        width: 100%;
    height: 610px;
    position: relative;
    overflow: hidden;
}
.icon_column{
    width: 100%;
    margin:0;
}

.footer_icons{
    float: left;
    margin-top: -6px;
    margin-right: 5px;
}

.icon_pannel{
    margin-top: 23px;
    margin-bottom: 70px;
}

}

