.pricingHeader {
    background-color: transparent !important;
}
.pricingHeader4 {
    padding: 50px !important;
}
.contactUsHeader{
    font-family: "SF-UI-Display-medium";
    font-size: 26px;
}
.areYou{
    font-family: "SF-UI-Display-medium";
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.areYou2{
    font-family: "SF-UI-Display-Regular";
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.areYou label{
    margin-left: 10px;
    font-family: SF-UI-Display-Light;
    font-size: 14px;
    color: #717171;
 }
.areYou2 label{
    font-family: SF-UI-Display-Light;
    font-size: 14px;
    color: #717171;
}
.contactInfo{
    margin: 20px;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.1) 0 0 20px;
}
.padding15px{
    padding: 15px;
}
.jobLocation2 img{
    position: absolute;
    left: -21px !important;
    top: 2px !important;
    width: auto;
}
.marginBtm50{
    margin-bottom: 50px;
}
.icons img{
    margin-right: 10px;
}
.jobLocation2 {
    font-family: SF-UI-Display-medium !important;
    font-size: 14px !important;
    color: black !important;
    margin-bottom: 5px;
    margin-left: 21px !important;
    position: relative;
    padding-left: 7px !important;
}
.imgNumber{
    width: 16px !important;
}
.imgEmailAddress{
    width: 17px !important;
}
.imgAddress{
    width: 13px !important;
}