@media only screen and (max-width: 600px) {
    .padding10px {
        padding: 35px;
        padding-left: 5px;
        padding-right: 5px;

    }
    .walkingHeading {
        font-size: 24px !important;
        margin-top: 160px;
    }
    .icons img {
        margin-right: 10px;
        width: 30px;
    }
    .walkingSubHeading {
        font-family: "Sofia Pro Light" !important;
        font-size: 13px !important;
        width: 100%;
        padding-left: 30px;
        margin-top: 15px;
        padding-right: 30px;
    }
    .noPadding1 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .jobLocation2 img {
        position: absolute;
        left: -21px !important;
        top: 3px !important;
        width: auto;
    }
    .jobLocation2 {
        font-family: SF-UI-Display-Regular !important;
        font-size: 13px !important;
        color: black !important;
        margin-bottom: 5px;
        margin-left: 14px !important;
        position: relative;
        padding-left: 7px !important;
    }
    .contactUsBlock{
        margin: 0px;
        margin-left: -14px;
        margin-right: -14px;
    }
    .contactUsHeader {
        font-family: "SF-UI-Display-Bold";
        font-size: 23px;
    }
    .areYou {
        font-family: "SF-UI-Display-Regular";
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .areYou label {
        margin-left: 8px;
        font-family: SF-UI-Display-Light;
        font-size: 12px;
        margin-top: 11px;
        display: block;
        color: #717171;
    }
    .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
        position: absolute;
        margin-left: -20px;
        margin-top: 1px;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 42px;
        padding: 10px 19px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #717171;
        background-color: #fff;
        background-image: none;
        border: 1px solid #E7E7E7;
        border-radius: 4px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    .pricingHeader4 {
         padding: 0px !important;
        padding-top: 50px !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 768px) {
    .pricingHeader4 {
        padding: 0px !important;
        padding-top: 50px !important;
    }
    .walkingSubHeading {
        font-family: "Sofia Pro Light" !important;
        font-size: 13px !important;
        width: 100%;
        padding-left: 30px;
        margin-top: 15px;
        padding-right: 30px;
    }
    .walkingHeading {
        font-size: 24px !important;
        margin-top: 160px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width: 768px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px)  {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}