@media only screen and (max-width: 600px) {
    .paddingProfileDetails {
        padding: 30px 1px;
    }
    .profileImage {
        width: 100px;
        height: 100px;
        object-fit: cover !important;
        object-position: 0 0 !important;
    }
    .profileHeader {
        font-family: 'Roboto-Medium';
        font-size: 13px !important;
    }
    .profileDetails {
        padding: 10px;
        font-family: Roboto-Regular;
        font-size: 13px;
        /*text-align: center;*/
    }
    .paddingProfile{
        padding:0%;
        padding-top: 0px;
    }
    .paddingImgEmployer {
        margin-left: 0px;
        margin-right: 0px;
    }
    .profileImage2 {
        width: 100%;
        /* height: 200px; */
        object-fit: cover !important;
        object-position: 0 0 !important;
        box-shadow: rgba(0,0,0,0.1) 0 0 20px;
    }
    .changeRemove {
         line-height: 0px;
        text-align: center;
    }
    .mt71 {
        margin-top: 50px;
    }
    .profileEdit {
        font-family: 'Roboto-Regular';
        font-size: 12px !important;
        float: right;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 768px) {

    .profileDetails {
        padding: 10px;
        font-family: Roboto-Regular;
        font-size: 16px;
        /*text-align: center;*/
    }
    .changeRemove {
        line-height: 0px;
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width: 768px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .profileDetails {
        padding: 10px;
        font-family: Roboto-Regular;
        font-size: 16px;
        /*text-align: center;*/
    }
    .changeRemove {
        line-height: 0px;
        text-align: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}