@font-face {
    src: url(../font/Roboto-Medium.ttf);
    font-family: 'Roboto-Medium';
}
@font-face {
    src: url(../font/Roboto-Light.ttf);
    font-family: 'Roboto-Light';
}
@font-face {
    src: url(../font/Roboto-Regular.ttf);
    font-family: 'Roboto-Regular';
}
.profileLabel{
    font-family: Roboto-Medium !important;
    font-size: 26px !important;
}

.profileHeader{
    font-family: 'Roboto-Medium';
    font-size: 17px !important;
}
.profileEdit{
    font-family: 'Roboto-Regular';
    font-size: 14px !important;
    float: right;
}
.profileImage{
    width: 200px;
    height: 200px;
    object-fit: cover !important;
    object-position: 0 0 !important;
}
.profileImage2{
    width: 250px;
    height: 200px;
    object-fit: cover !important;
    object-position: 0 0 !important;
    box-shadow: rgba(0,0,0,0.1) 0 0 20px;
}
.paddingImgEmployer{
    margin-left: 40px;
    margin-right: 40px;
}
.changeRemove{
    line-height: 200px;
}
.paddingProfileDetails{
    padding:30px;
}
.profileDetails{
    padding: 10px;
    font-family: Roboto-Regular;
    font-size: 16px;
}
.mt10{
    margin-top: 10px;
}
.mt40{
    margin-top: 40px;
}
.paddingProfile{
    padding:10%;
    padding-top: 0px;
}