@media only screen and (max-width: 600px) {
    .cardBox3 {
        /* border-bottom: 5px solid #0039A5; */
        background-color: white;
        position: relative;
        border-radius: 8px;
        padding: 10px;
        padding-top: 20px;
        margin: 5px;
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-bottom: 5px;
    }
    .premiumPlansBox {
        background-color: white;
        border-radius: 5px;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .jobDescritionCard1 {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .jobDescritionCard2 {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .jobLabel1 {
        font-family: SF-UI-Display-Regular;
        font-size: 15px;
        margin-top: 15px;
    }
    .jobLabel2 {
        font-family: SF-UI-Display-Bold;
        font-size: 19px;
    }
    .jobLabel3 {
        font-family: SF-UI-Display-Light;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .jobDescription {
        font-family: SF-UI-Display-Light;
        font-size: 13px;
        text-align: justify;
        margin-top: 6px;
    }
    .jobDescriptionLabel {
        font-family: SF-UI-Display-Regular;
        font-size: 18px;
    }
    .vacancyNumber {
        font-family: 'SF-UI-Display-Medium', sans-serif;
        font-size: 12px;
        margin-top: 4px;
    }
    .whatWillYouDoPointersBox {
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .whatWillYouDoPointersBox div {
        font-family: SF-UI-Display-Light;
        font-size: 12px;
        padding: 5px;
        position: relative;
    }
    .skills span {
        font-family: "Sofia Pro Medium";
        font-size: 11px;
        color: #00B9F5;
        border: 1px solid #00B9F5;
        padding: 3px 12px;
        border-radius: 15px;
        margin-right: 2px;
        cursor: pointer;
    }
    .jobName {
        font-family: sofia-pro-regular-webfont;
        font-size: 13px;
        color: #919191;
        margin-bottom: 5px;
    }
    .jobLocation {
        font-family: Sofia-Pro-Medium;
        font-size: 12px;
        color: #00B929;
        margin-bottom: 5px;
        margin-left: 14px;
        position: relative;
    }
    .skills span {
        font-family: "Sofia Pro Medium";
        font-size: 10px;
        color: #00B9F5;
        border: 1px solid #00B9F5;
        padding: 3px 12px;
        border-radius: 15px;
        margin-right: 2px;
        cursor: pointer;
    }
    .jobAmount {
        font-family: Sofia-Pro-Medium;
        font-size: 12px;
        color: #0039A5;
        margin-left: 35px;
        position: relative;
    }
    .jobDate {
        font-family: sofia-pro-regular-webfont;
        font-size: 12px;
        color: #999;
        margin-right: 9px;
        float: right;
    }
    .jobDesignation {
        font-family: sofia-pro-regular-webfont;
        font-size: 13px;
        color: #000;
        margin-bottom: 5px;
    }
    .plansHeader {
        font-family: SF-UI-Display-Bold;
        font-size: 16px;
    }.jobDescriptionDesc {
         font-family: SF-UI-Display-Regular;
         font-size: 13px;
         width: 80%;
         margin: 0 auto;
         margin-bottom: 30px;
     }
     .planHeading2 {
         font-family: SF-UI-Display-Regular;
         font-size: 19px;
         margin-bottom: 10px !important;
         margin-top: 10px !important;
     }
    .planHeader {
        font-family: SF-UI-Display-Regular;
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .planHeader2 {
        font-family: SF-UI-Display-Regular;
        font-size: 13px;
        margin: 0 auto;
        margin-top: 15px;
        width: 80%;
        margin-bottom: 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 768px) {
    .jobDescritionCard2 {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .jobDescritionCard1 {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .whatWillYouDoPointersBox {
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width: 768px) {
    .jobDescritionCard2 {
        padding-left: 5px;
        padding-right: 10px;
        margin-top: 10px;
        margin-bottom: 14px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .jobDescritionCard3 {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .jobDescritionCard2 {
        padding-left: 0px;
        padding-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .jobDescritionCard1 {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .planHeading3 {
        font-family: SF-UI-Display-Light;
        width: 80%;
        font-size: 13px;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
        margin-top: 25px !important;
    }
    .plansHeader {
        font-family: SF-UI-Display-Bold;
        font-size: 20px;
    }
    .jobDescriptionDesc {
        font-family: SF-UI-Display-Regular;
        font-size: 13px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .planHeading2 {
        font-family: SF-UI-Display-Regular;
        font-size: 18px;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}