body{
    min-height: auto !important;
}

.jobDetailBox{
     background-color: white;
     border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
 }
.premiumPlansBox{
    background-color: #F5F5F5;
    border-radius: 5px;
     margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
 }

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.display_flex{
    display: flex;
}

.plansHeader{
    font-family: SF-UI-Display-Bold;
    font-size: 22px;
}
.plansHeader4{
    font-family: SF-UI-Display-Bold;
    font-size: 35px;
    color: #28306c;
}
.jobDetailImg{
    border:0.08em solid #DBDBDB;
}

.paddingltr{
    padding-left: 7px;
    padding-right: 7px;
}

.color_litegrn{
    background-color: #fff;
    border-color: #4fcb4c;
    color: #000;
}

.color_litegrn:hover{
    background-color: #4fcb4c !important; 
    border-color: #4fcb4c !important;
    color: #FFF !important;
}

.seprate_boxes{
    background-color: #FFF;
    padding: 20px;
    /*height: 100%;*/
}

.paddingJobDetailBox{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    background-color: #fff;
    padding-right: 20px;
    border-radius: 5px;
}
.paddingJobDetailBox4{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #F5F5F5;
    padding-right: 20px;
    border-radius: 5px;
}
.latestNewsBox{

}
.paddingJobDetailBox2{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #fff;
    padding-right: 20px;
    border-radius: 5px;
}.paddingJobDetailBox3{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #fff;
    padding-right: 20px;
    border-radius: 5px;
}
.similarJobsHeader{
    margin-top: 15px;
    margin-bottom: 15px;
}
.premiumPlansHeader{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 0px;
}
.premiumPlansHeader2 {
    margin-top: -5px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
}
.planHeader{
    font-family: SF-UI-Display-Regular;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.marginBtm30{
    margin-bottom: 30px;
}
.planHeader2{
    font-family: SF-UI-Display-Regular;
    font-size: 14px;
    margin: 0 auto;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.marginPlanBox{
    margin-top: 20px;
    margin-bottom: 20px;
}
.planHeading1{
    font-family: SF-UI-Display-Regular;
    font-size: 16px;
    font-size: 16px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;

}
.planHeading2{
    font-family: SF-UI-Display-Regular;
    font-size: 20px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;


}
.marginNegative5{
    margin-right: -5px !important;
}
.planHeading3{
    font-family: SF-UI-Display-Light;
    width: 80%;
    font-size: 14px;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
    margin-top: 25px !important;

}.planHeading4{
    font-family: SF-UI-Display-Light;
    width: 80%;
    font-size: 14px;
    margin: 0 auto !important;
    margin-bottom: 25px !important;
    margin-top: 25px !important;

}.planHeading4 button{
      padding: 6px;
      border-radius: 50px !important;
      width:100%;
}
 .colorGreen{
     background-color: #00B929 !important;
     border-color: #00B929 !important;
 }
.whatWillYouDoPointersBox{
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.whatWillYouDoPointersBox div{
    font-family: SF-UI-Display-Light;
    font-size: 14px;
    padding: 5px;
    position: relative;
}
.whatWillYouDoPointersBox div span{
    color: #00B929;
    left: -15px;
    position: absolute;
}
.mrgnTp30{
    margin-top: 30px;
}.mrgnTp50{
    margin-top: 50px;
}
.skillsRow{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0px;

}
.skills{
    padding: 0px;
    margin-top: 10px;
}

.skills span{
    font-family: "SF-UI-Display-regular";
    font-size: 12px;
    color: #00B9F5;
    border: 1px solid #00B9F5;
    padding: 3px 12px;
    border-radius: 15px;
    margin-right: 2px;
    cursor: pointer;
}
.jobLabel1{
    font-family: SF-UI-Display-Regular;
    font-size: 16px;
}
.jobLabel2{
    font-family: SF-UI-Display-Bold;
    font-size: 24px;
}
.jobLabel3{
    font-family: SF-UI-Display-Light;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.marginVacany{
    margin-top: 15px;
    margin-bottom: 15px;
}
.jobDetailHeader{
    font-family: "SF-UI-Display-Regular";
    font-size: 14px;
    padding-left: 30px;
}
.jobDetailVacancy{
    margin-right: 7px;
    width: 17px;
    position: absolute;
    top: 4px;
    left: 18px;
}
.jobDetailExp{
    margin-right: 7px;
    position: absolute;
    top: 3px;
    left: 18px;
    width: 16px;
}
.jobDetailApplicants{
    margin-right: 7px;
    position: absolute;
    top: 2px;
    left: 18px;
    width: 13px;
}
.jobDetailPOstedOn{
    margin-right: 7px;
    position: absolute;
    top: 3px;
    left: 18px;
    width: 15px;

}
.vacancyNumber{
    font-family: 'SF-UI-Display-Medium', sans-serif;
    font-size: 16px;
    margin-top: 4px;
}
.jobDetailMoney{
    margin-right: 7px;
    width: 13px;
    position: absolute;
    top: 2px;
    left: 18px;
}
.jobDetailLocation{
    margin-right: 7px;
    width: 11px;
    position: absolute;
    top: 2px;
    left: 18px;
}
.margintp10{
    margin-top: 15px !important;
}
.jobDescritionCard1{
    padding-left: 0px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}.jobDescritionCard3{
    padding-left: 0px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.jobDescritionCard2{
    padding-left: 10px;
    padding-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.jobDescriptionLabel{
    font-family: SF-UI-Display-Medium;
    font-size: 20px;
}
.jobDescriptionDesc{
    font-family: SF-UI-Display-Regular;
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.red{
    color: red;
}
.jobDescriptionLabel2{
    font-family: SF-UI-Display-Regular;
    font-size: 17px;
}
.jobDescription{
    font-family: SF-UI-Display-Regular;
    font-size: 14px;
    text-align: justify;
    margin-top: 6px;
}
.jobDescriptionLabel3{
    font-family: SF-UI-Display-Light;
    font-size: 13px;
    padding-top: 20px;
    border-bottom: 1px solid #C8C8C8;
    padding-bottom: 13px;
}
.lastNews{
    border-bottom: 0px !important;
}
.jobSkillsDesc{
    font-family: SF-UI-Display-Light;
    font-size: 14px;
    text-align: justify;
    margin-top: 25px;
}
.mrgnTp20{
    margin-top: 20px;
}
.cardOpening {
    width: 88% !important;
    margin: 0 auto;
    float: none !important;
    padding: 0px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    margin-left: 0px !important;
    font-size: 12px !important;
    font-family: SF-UI-Display-Regular !important;
    border-radius: 3px !important;
    background-color: #00B929 !important;
    border-color: #00B929 !important;
}

.cardOpening img{
    margin-right: 5px;
    margin-top: -2px;
    width: 14px;
}
.applicationEndStatus{
    font-family: SF-UI-Display-Light;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: #00B9F5;
    margin-bottom: 30px;
}
.applyNowBox{
    margin-top: 40px;
    margin-bottom: 15px;
}
#map{
    width:100%;
    height: 446px;
}
.cardBox2 {
    /* border-bottom: 5px solid #0039A5; */
    background-color: white;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    padding-top: 20px;
    margin: 5px;
    padding-bottom: 5px;
}
.cardBox3 {
    /* border-bottom: 5px solid #0039A5; */
    background-color: white;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    padding-top: 20px;
    margin: 5px;
    padding-bottom: 5px;
   /* height: 100%;*/
}
.paddingRyt0 {
    padding-right: 0px;
}
.jobName {
    font-family: sofia-pro-regular-webfont;
    font-size: 15px;
    color: #919191;
    margin-bottom: 5px;
}
.jobName a{
    font-family: sofia-pro-regular-webfont;
    font-size: 15px;
    color: #919191;
    margin-bottom: 5px;
    text-decoration: none !important;
}
.jobDesignation {
    font-family: sofia-pro-regular-webfont;
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}
.jobLocation {
    font-family: Sofia-Pro-Medium;
    font-size: 14px;
    color: #00B929;
    margin-bottom: 5px;
    margin-left: 14px;
    position: relative;
}
.jobLocation img {
    position: absolute;
    left: -12px;
    top: 3px;
    width: 10px;
}
.skillsRow {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0px;
}

.cardImg2 {
    width: 100%;
}
.mrgnTp12 {
    margin-top: 12px;
}
.jobAmount {
     font-family: Sofia-Pro-Medium;
     font-size: 14px;
     color: #0039A5;
     margin-left: 35px;
     position: relative;
 }
.jobAmount img {
    width: 17px;
    position: absolute;
    left: -22px;
}
.jobDate {
    font-family: sofia-pro-regular-webfont;
    font-size: 14px;
    color: #999;
    margin-right: 9px;
    float: right;
}


/*quote crausel*/
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
/*#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}*/
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}



.item blockquote img {
    margin-bottom: 10px;
}

/*.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}*/



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
/*quote crausel*/

.cardBox3:hover{
    border-top: 5px solid #143a89;
    background-color: #e7e7e7;

}

.ribbon_green{
    background: url(../../images/ribbon-green.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
}

.ribbon_orange{
    background: url(../../images/ribbon-orange.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
}

.ribbon-none{
    margin-top: 16%;
}

.mrgn_top_t{
    margin-top: 23% !important;
}

.ribbon_text{
    color: #fff !important;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
    margin-right: 11px;
    font-family: Sofia-Pro-Medium;
}
.jobDetailCardBox2 {
    /* border-bottom: 5px solid #0039A5; */
    background-color: white;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    padding-top: 20px;
    margin: 5px;
    padding-bottom: 5px;
}
