@media only screen and (max-width: 600px) {
    .padding14px {
        padding-left: 10px;
        height: 100%;
        text-align: center;
    }
    .jobDateGrid {
        font-family: sofia-pro-regular-webfont;
        font-size: 12px;
        color: #999;
        margin-right: 9px;
        position: absolute;
        right: 4px;
        /* float: right; */
        bottom: 8px;
    }

    .jobDesignation {
        font-family: sofia-pro-regular-webfont;
        font-size: 14px;
        color: #000;
        margin-bottom: 5px;
    }
    .jobName {
        font-family: sofia-pro-regular-webfont;
        font-size: 13px;
        color: #919191;
        margin-bottom: 5px;
    }
    .jobLocation {
        font-family: Sofia-Pro-Medium;
        font-size: 12px;
        color: #00B929;
        margin-bottom: 5px;
        margin-left: 14px;
        position: relative;
    }
    .searchHeading {
         line-height: 10px;
        font-family: 'SF-UI-Display-Medium';
        font-size: 14px;
    }
    .searchedFeilds {
        line-height: 25px;
        font-family: 'SF-UI-Display-Light';
        font-size: 10px;
        color: #999;
    }
    .subHeaderLabel {
        font-family: SF-UI-Display-Light;
        font-size: 13px;
        color: #999;
    }
    .subHeaderLabel {
        font-family: SF-UI-Display-Light;
        font-size: 13px;
        color: #999;
    }
    .subHeaderLabel2 {
        float: right;
        font-family: SF-UI-Display-Light;
        font-size: 13px;
        color: #999;
    }
    .subHeaderLabel3 {
        font-family: SF-UI-Display-Light;
        font-size: 10px;
        display: block;
        margin-left: 7px;
        margin-right: 5px;
        color: #000000;
    }
    .responsiveSubHeader{
        display: none;
    }
    .searchButton2 {
        font-family: "SF-UI-Display-Light";
        border-radius: 5px !important;
         margin-top: 0px;
    }
    .jobAmountGrid {
        float: none;
        font-family: Sofia-Pro-Medium;
        font-size: 13px;
        margin-top: 16px;
        color: #0039A5;
        margin-left: 35px;
        position: relative;
    }
    .paddingBodySearch .modal-body {
        position: relative;
        padding: 15px;
        /* padding-top: 10px; */
        /* padding-bottom: 0px; */
    }
    .skills span {
        font-family: "Sofia Pro Medium";
        font-size: 8px;
        color: #00B9F5;
        border: 1px solid #00B9F5;
        padding: 3px 12px;
        border-radius: 15px;
        margin-right: 2px;
        cursor: pointer;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 768px) {
    .padding14px {
        padding-left: 10px;
        height: 100%;
        text-align: center;
    }
    .subHeaderResp{
        text-align: center;
    }
    .jobAmountGrid {
        float: none;
        font-family: Sofia-Pro-Medium;
        font-size: 16px;
        margin-top: 16px;
        color: #0039A5;
        margin-left: 35px;
        position: relative;
    }
    .paddingBodySearch .modal-body {
        position: relative;
        padding: 15px;
        /* padding-top: 10px; */
        /* padding-bottom: 0px; */
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width: 768px) {
    .jobAmountGrid {
        float: none;
        font-family: Sofia-Pro-Medium;
        font-size: 16px;
        margin-top: 16px;
        color: #0039A5;
        margin-left: 35px;
        position: relative;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .btn-success {
        color: #fff;
        background-color: #00b929;
        border-color: #00b929;
        float: right;
        border-radius: 0px !important;
        padding: 6px 4px !important;
        font-size: 12px;
        letter-spacing: 0.06em;
    }
    .searchHeading {
        line-height: 34px;
        font-family: 'SF-UI-Display-Medium';
        font-size: 14px;
    }
    .searchedFeilds {
        line-height: 34px;
        font-family: 'SF-UI-Display-Light';
        font-size: 13px;
        color: #999;
    }
    .jobAmountGrid {
        float: none;
        font-family: Sofia-Pro-Medium;
        font-size: 16px;
        margin-top: 16px;
        color: #0039A5;
        margin-left: 35px;
        position: relative;
    }
    .jobName {
        font-family: sofia-pro-regular-webfont;
        font-size: 20px;
        color: #919191;
        margin-bottom: 12px;
    }
    .jobDesignation {
        font-family: sofia-pro-regular-webfont;
        font-size: 18px;
        color: #000;
        margin-bottom: 12px;
    }
    .jobLocation {
        font-family: Sofia-Pro-Medium;
        font-size: 17px;
        color: #00B929;
        margin-bottom: 5px;
        margin-left: 14px;
        position: relative;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}