.marginSearchHeader{
    margin-bottom: 0px !important;
    background-color: #fff;
    
}
.noShadow{
    box-shadow: none !important;
}
.padding14px {
    padding: 14px;
    padding-left: 90px;
    height: 100%;
}
.btn-success {
    color: #fff;
    background-color: #00b929;
    border-color: #00b929;
    float: right;
    border-radius: 0px !important;
    padding: 6px 12px !important;
    letter-spacing: 0.06em;

}
.dropdownCustom {
    position: relative;
    display: inline-block;
}
.subHeaderLabel2{
    float: right;
    font-family: SF-UI-Display-Light;
    font-size: 14px;
    color: #999;
}
.subHeaderLabel2 i{
    margin-left: 5px;
    cursor: pointer;
}.subHeaderLabel2 span{
    float:right;
}
.dropdown-content-custom {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 0px;
    text-align: center;
    z-index: 1;
    left: -100px;
    padding-top: 10px;
}
.dropdown-content-custom p{
    cursor: pointer;
}
.dropdown-content-custom .active{
    color: #00B929;
}
.dropdown-content-custom p:hover{
    color: #00B929;
}
.dropdownCustom:hover .dropdown-content-custom {
    display: block;
}
.subHeaderLabel3{
    font-family: SF-UI-Display-Light;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 5px;
    color: #000000;
}
.imgListViewUnselected:hover{

}
.subHeaderLabel3 img{
    width:15px;
    margin-left: 4px;
}
.noLftMargn{
    margin-left: 0px !important;
    cursor: pointer;
}
.paddingRyt0{
    padding-right: 0px;
}
.cardBox2{
    /*border-bottom: 5px solid #0039A5;*/
    background-color: white;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 5px;

}
.skills span{
    font-family: "Sofia Pro Medium";
    font-size: 11px;
    color: #00B9F5;
    border: 1px solid #00B9F5;
    padding: 3px 12px;
    border-radius: 15px;
    margin-right: 2px;
    cursor: pointer;
}
.mrgnTp12{
    margin-top: 12px;
}
.jobAmount{
    font-family: Sofia-Pro-Medium;
    font-size: 14px;
    color: #0039A5;
    margin-left: 35px;
    position: relative;
}
.jobAmountGrid{
    float: right;
    font-family: Sofia-Pro-Medium;
    font-size: 16px;
    color: #0039A5;
    margin-left: 35px;
    position: relative;
}
.jobDate{
    font-family: sofia-pro-regular-webfont;
    font-size: 14px;
    color: #999;
    margin-right: 9px;
    float: right;
}
.mrgnTp8{
    margin-top: 8px;
}
.jobDateGrid{
    font-family: sofia-pro-regular-webfont;
    font-size: 14px;
    color: #999;
    margin-right: 9px;
    position: absolute;
    right: 4px;
    /* float: right; */
    bottom: 8px;
}
.jobAmount img{
    width: 17px;
    position: absolute;
    left: -22px;
}.jobAmountGrid img{
    width: 17px;
    position: absolute;
    left: -22px;
}
.skillRed{
    color:  #FF0C2E !important;
    border: 1px solid #FF0C2E !important;
}
.skillBlue{
    color:  #00B9F5 !important;
    border: 1px solid #00B9F5 !important;
}
.skillGreen{
    color:  #00B929 !important;
    border: 1px solid #00B929 !important;
}
.skillsRow{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0px;
}
.jobName{
    font-family: sofia-pro-regular-webfont;
    font-size: 15px;
    color: #919191;
    margin-bottom: 5px;
}
.jobDesignation{
    font-family: sofia-pro-regular-webfont;
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}
.jobLocation{
    font-family: Sofia-Pro-Medium;
    font-size: 14px;
    color: #00B929;
    margin-bottom: 5px;
    margin-left: 14px;
    position: relative;
}
.jobLocation img{
    position: absolute;
    left: -12px;
    top: 3px;
    width: 10px;
}
.cardImg2{
    width:100%;
}
.subHeaderLabel{
    font-family: SF-UI-Display-Light;
    font-size: 14px;
    color: #999;
}
.searchHeading{
    line-height: 34px;
    font-family: 'SF-UI-Display-Medium';
    font-size: 16px;
}
.searchedFeilds{
    line-height: 34px;
    font-family: 'SF-UI-Display-Light';
    font-size: 15px;
    color: #999;
}
.searchedFeilds span{
    line-height: 34px;
    font-family: 'SF-UI-Display-Light';
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
    color: #cccccc;
}
.paginationContainer{
    float: right;
}
.paddingBodySearch{
    padding-top: 15px;
    padding-left: 3%;
    padding-right: 3%;
    font-family: sofiapro-light;
}
.mt71{
    margin-top: 71px;
}
.paddingBodySearch .modal-body{
    position: relative;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 0px;
}
.searchBtn{
    height: 34px !important;
    font-size: 13px !important;
    padding: 8px 14px !important;
    font-family: SF-UI-Display-Light;
}

.searchTitle{
    margin-bottom: 7px !important;
}
.modalModifySearch{
    width:100% !important;
    margin-top: 50px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.paddingModalSearchBody{
    padding-top: 22px;
}
.enterKeyWordRow{
    width:50%;
}
#modifySearch{
    padding-right: 0px !important;
}
.modalModifyContent{
    border-radius: 0px !important;
}
.zIndex1000 {
    z-index: 1029 !important;
}
.marginBtm20{
    margin-bottom: 20px;
}
.paginationContainer span{
    background-color: #fff;
    padding: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px;
    cursor: pointer;
}
.paginationContainer span:hover{
    background-color: #00b9f51a;
}
.paginationContainer .active{
    background-color: #00B9F5;
    color: #fff;
}