@media only screen and (max-width: 600px) {
    .responsiveCard9 {
        padding-left: 10px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 25px;
        border-radius: 5px;
        padding-right: 5px;
        box-shadow: rgba(0,0,0,0.1) 0 0 20px;
    }
    .activityHeader {
        font-family: Roboto-Regular;
        font-size: 16px;
    }
    .activityDesc {
        font-family: Roboto-Regular;
        font-size: 14px;
        padding: 20px;
        text-align: justify;
        padding-left: 5px;
        padding-right: 5px;
    }
    .activityDate {
        font-family: Roboto-Regular;
        font-size: 12px;
        color: #707070;
        margin-right: 25px;
    }
    .activityDate {
        font-family: Roboto-Regular;
        font-size: 12px;
        color: #707070;
        margin-right: 10px;
    }
    .pd35 {
        padding-top: 22px;
    }
    .stepper .line {
        /* width: 1px; */
        /* background-color: lightgrey !important; */
        width: 1px;
        position: absolute;
        background-color: lightgrey !important;
        top: 38px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 768px) {



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width: 768px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}