@font-face {
    src: url(../font/Roboto-Medium.ttf);
    font-family: 'Roboto-Medium';
}
@font-face {
    src: url(../font/Roboto-Light.ttf);
    font-family: 'Roboto-Light';
}
@font-face {
    src: url(../font/Roboto-Regular.ttf);
    font-family: 'Roboto-Regular';
}

.stepper .line {
    width: 2px;
    background-color: lightgrey !important;
}
.stepper .lead {
    font-size: 1.1rem;
}

.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.ml-2, .mx-2 {
    margin-left: 0.5rem !important;
}
.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: relative;
}
.mb-1, .my-1 {
    margin-bottom: 0.25rem !important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem !important;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.text-white {
    color: #fff !important;
}
.pl-3, .px-3 {
    padding-left: 1rem !important;
}
.pr-3, .px-3 {
    padding-right: 1rem !important;
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem !important;
}
.pt-2, .py-2 {
    padding-top: 0.5rem !important;
}
.mb-1, .my-1 {
    margin-bottom: 0.25rem !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.active .bg-primary{
    background-color: #00B929 !important;
}
.bg-primary {
    background-color: #b1b1b1 !important;
}
.bg-primaryActive {
    background-color: #00B929 !important;
}
.stepper .line {
    /*width: 1px;*/
    /*background-color: lightgrey !important;*/
    width: 1px;
    position: absolute;
    background-color: lightgrey !important;
    top: 51px;
}
.h-100 {
    height: 100% !important;
}
.text-dark {
    color: #343a40 !important;
}
h5, .h5 {
    font-size: 1.25rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.stepper .lead {
    font-size: 1.1rem;
}
.text-muted {
    color: #868e96 !important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.roundCirclePadding{
    padding: 8px !important;
    z-index: 10;
}
.activityHeader{
    font-family: Roboto-Regular;
    font-size: 20px;
}
.activityHeader2{
    font-family: Roboto-Medium;
    font-size: 20px;
}
.activityPlace{
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #999;
    margin-top: 8px;
}
.marginlt15px{
    margin-left: 35px;
}
.activityDate{
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #707070;
    margin-right: 25px;
}
.pdlt20{
    padding-left: 20px;
}
.responsiveCard9{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    padding-right: 5px;
    box-shadow: rgba(0,0,0,0.1) 0 0 20px;
}
.imgActivityDate{
    margin-top: -3px;
    margin-right: 8px;
    width: 14px;
}
.activityDesc{
    font-family: Roboto-Regular;
    font-size: 16px;
    padding:20px;
    padding-left:60px;
    padding-right:40px;
}
.responsiveCard {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    padding-right: 5px;
    box-shadow: rgba(0,0,0,0.1) 0 0 20px;
}
.pd35{
    padding-top: 35px;
}
.lastColumn .line{
    display: none !important;
}