@media only screen and (max-width: 600px) {
    .planHeader {
        font-family: "SF-UI-Display-Bold";
        font-size: 20px;
    }
    .planDesc {
        font-family: "SF-UI-Display-Regular";
        font-size: 14px;
        margin-top: 20px;
    }
    .planPoints {
        font-family: "SF-UI-Display-Regular";
        font-size: 14px;
        margin-top: 20px;
    }
    .btnSubmit {
        width: 35% !important;
        border-radius: 5px !important;
        float: none !important;
        margin-top: 20px !important;
        font-size: 11px;
        margin-left: 10px !important;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 768px) {



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width: 768px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}