.topEmployerBanner3 {
    background-image: url(../../images/Job4Gulf_Banner/contact_us_banner.png);
    height: 250px;
    text-align: center;
    position: relative;
    background-color: #030A63;
    z-index: 0;
}
/*.topEmployerBanner3 div {
    font-family: "SF-UI-Display-Medium";
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #FFF;
    z-index: 6;
}*/
.walkingHeading2 {
    font-size: 30px !important;
    margin-top: 131px;
}
body{
    background-color: white !important;
}
.marginTp30_1{
   margin-top: 70px;
}

.theme_clr{
    background-color: #030A63;
    margin-top: 15px;
}

.btn_design{
    color: #FFF !important;
    font-family: "SF-UI-Display-Regular" !important;
    padding: 13px 21px !important;
}

.marginbtm_15{
    margin-bottom: 15px;
}

.marginTp15{
   margin-top: 15px;
   background-color: #fff;
   padding-bottom: 15px;
}
.planHeader{
    font-family: "SF-UI-Display-Bold";
    font-size: 22px;
}
.planDesc{
    font-family: "SF-UI-Display-Regular";
    font-size: 16px;
    margin-top: 20px;
}
.margin-tp-40{
    margin-top: 30px;
}
.planPoints{
    font-family: "SF-UI-Display-Regular";
    font-size: 16px;
    margin-top: 20px;
}
.planPoints ul li{
    margin-bottom: 8px;
}
.btnSubmit{
    width: 23% !important;
    border-radius: 5px !important;
    float: none !important;
    margin-top: 20px !important;
    margin-left: 10px !important;
}

.error{
    margin: 0 !important;
}