@media only screen and (max-width: 600px) {
    .padding14px {
        padding-right: 10px !important;
    }
    .postAJobHeader a {
        font-family: Roboto-Bold;
        font-size: 11px;
        margin-right: 1%;
        margin-left: 1%;
        color: black;
    }
    .postAJobBtn {
        padding: 7px 12px !important;
        text-align: center !important;
        height: 30px !important;
    }
    .postAJobHeader {
        line-height: 34px;
        padding-left: 4px;
        padding-right: 4px;
    }
    .imgSearch {
        position: absolute;
        top: 20px;
        color: #999;
        font-size: 10px;
        left: 30px;
    }
    .genderCheckBoxes span {
        margin-right: 0px;
        margin-left: 22px;
        font-family: Roboto-Regular;
        font-size: 13px;
        color: #9d9d9d;
        position: relative;
    }
    .genderCheckBoxes span input {
        margin-top: 2px;
        margin-right: 5px;
        position: absolute;
        top: 0px;
        left: -16px;
    }
    .btn {
        display: inline-block;
        width: 100%;
        height: 38px;
        padding: 10px 13px;
        font-size: 12px;
        line-height: 1.42857143;
        /*text-align: left !important;*/
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid #f0f0f0;
        border-radius: 4px;
        position: relative;
    }
    .btn .caret {
        position: absolute;
        right: 5px;
        top: 16px;
    }
    .inputHeading {
        font-family: Roboto-Bold;
        font-size: 14px;
        margin-bottom: 12px;
    }
    .jobTypeSelect {
        font-family: Roboto-Regular;
        font-size: 12px;
        width: 100% !important;
    }
    .postAJobBtn {
        border-radius: 25px;
        width: 100%;
        font-size: 11px;
        border: 1px solid #9D9D9D;
        padding: 5px;
        padding-left: 30px;
        font-family: Roboto-Light;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
        margin-right: -1px;
        height: 38px !important;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #E7E7E7;
    }
    .md-stepper-horizontal .md-step {
        display: table-cell;
        position: relative;
        padding: 2%;
    }
    .md-stepper-horizontal .md-step .md-step-title {
        margin-top: 16px;
        font-size: 12px;
        font-weight: 600;
    }
    .md-stepper-horizontal .md-step .md-step-bar-left, .md-stepper-horizontal .md-step .md-step-bar-right {
        position: absolute;
        top: 13px;
        height: 1px;
        border-top: 1px solid #DDDDDD;
    }
    .paddingPostAJob {
        padding-left: 4%;
        padding-right: 4%;
    }
    .extraPad{
        padding-right: 25% !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 768px) {
    .md-stepper-horizontal .md-step .md-step-bar-left, .md-stepper-horizontal .md-step .md-step-bar-right {
        position: absolute;
        top: 31px;
        height: 1px;
        border-top: 1px solid #DDDDDD;
    }
    .padding14px {
         padding-right: 0px !important;
    }
    .postAJobBtn {
        border-radius: 25px;
        width: 100%;
        font-size: 15px;
        border: 1px solid #9D9D9D;
        padding: 5px;
        padding-left: 30px;
        font-family: Roboto-Light;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .paddingPostAJob {
        padding-left: 4%;
        padding-right: 4%;
    }
    .imgSearch {
        position: absolute;
        top: 20px;
        color: #999;
        left: 25px;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width: 600px) {
    .md-stepper-horizontal .md-step .md-step-bar-left, .md-stepper-horizontal .md-step .md-step-bar-right {
        position: absolute;
        top: 17px;
        height: 1px;
        border-top: 1px solid #DDDDDD;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width: 640px) {
    .md-stepper-horizontal .md-step .md-step-bar-left, .md-stepper-horizontal .md-step .md-step-bar-right {
        position: absolute;
        top: 31px;
        height: 1px;
        border-top: 1px solid #DDDDDD;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {

    .paddingPostAJob {
        padding-left: 4%;
        padding-right: 4%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}