@font-face {
    src: url(../font/Roboto-Medium.ttf);
    font-family: 'Roboto-Medium';
}
@font-face {
    src: url(../font/Roboto-Light.ttf);
    font-family: 'Roboto-Light';
}
@font-face {
    src: url(../font/Roboto-Regular.ttf);
    font-family: 'Roboto-Regular';
}
@font-face {
    src: url(../font/Roboto-Bold.ttf);
    font-family: 'Roboto-Bold';
}

body {
    /* min-height: 2000px !important; */
    background-color: white !important;
    padding-top: 70px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}
.postAJobBtn {
    border-radius: 25px;
    width: 80%;
    font-size: 15px;
    border: 1px solid #9D9D9D;
    padding: 5px;
    padding-left: 30px;
    font-family: Roboto-Light;
}
.imgSearch{
    position: absolute;
    top: 9px;
    color: #999;
    left: 25px;
}
.padding14px {

    padding-right: 90px !important;
}
.postAJobHeader a{
    font-family: Roboto-Bold;
    font-size: 15px;
    margin-right: 47px;
    color: black;
}
.borderRadius5 {
    border-radius: 5px;
}
.paddingryt5{
    padding:0px;
    padding-right: 5px
}
.paddinglft5{
    padding:0px;
    padding-left: 5px
}
.mrgnBtm50{
    margin-bottom: 50px;
}
.postAJobHeader{
    line-height: 34px;
}
.marginSearchHeader {
    box-shadow: 0px 10px 20px #f5f5f587;
    /* border: 1px solid #eee; */
    padding: 9px;
}
.mt25{
    margin-top: 25px;
    margin-bottom: 25px;
}
.paddingPostJob{
    padding:20px;
}
.jobDetail{
    font-family: Roboto-Bold;
    font-size: 25px;
}
.inputHeading{
    font-family: Roboto-Bold;
    font-size: 17px;
    margin-bottom: 12px;
}
.headerAppliedJobs {
    font-family: Roboto-Bold !important;
    font-size: 22px;
}
.btn-default:hover {
    color: #9d9d9d;
    background-color: transparent;
    border-color: #e7e7e7;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #9d9d9d;
    background-color: transparent;
    border-color: #e7e7e7;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #9d9d9d;
    background-color: transparent;
    border-color: #e7e7e7;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px !important;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #9d9d9d;
    text-decoration: none;

}
.btn {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 10px 19px;
    font-size: 14px;
    line-height: 1.42857143;
     text-align: left !important;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    position: relative;
}
.btn .caret {
    position: absolute;
    right: 4px;
    top: 22px;
}
.btn-default {
    color: #9d9d9d;
    background-color: #fff;
    border-color: #e7e7e7;
}
.colorSelectList{
    color: #9d9d9d !important;
}
.paddingPostAJob{
    padding-left: 9%;
    padding-right: 27%;
}
.jobTypeSelect{
  font-family: Roboto-Regular;
    font-size: 14px;
    width: 100% !important;
}
.form-control{
    font-family: Roboto-Regular !important;
}
select {
    -webkit-appearance: menulist-button;
    color: black;
}

/*select:invalid {*/
    /*color: red;*/
/*}*/

.genderCheckBoxes span{
    margin-right: 100px;
    margin-left: 22px;
    font-family: Roboto-Regular;
    font-size: 15px;
    color: #9d9d9d;
    position: relative;
}
.genderCheckBoxes span input{
    margin-top: 2px;
    margin-right: 5px;
    position: absolute;
    top: 1px;
    left: -22px;
}











/*====================*/
html {
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
    -ms-font-smoothing: antialiased!important;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:#555555;
}
.md-stepper-horizontal {
    display:table;
    width:100%;
    margin:0 auto;
    background-color:#FFFFFF;
    /*box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);*/
}
.md-stepper-horizontal .md-step {
    display:table-cell;
    position:relative;
    padding:24px;
}

.md-stepper-horizontal .md-step:active {
    border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
    background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
    display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
    width: 15px;
    height: 15px;
    margin:0 auto;
    background-color:#999999;
    border-radius: 50%;
    text-align: center;
    line-height:30px;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
    background-color: #00B929;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
    background-color:#00B929;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
    background-color:#00B929;
}

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
    display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
    font-family:'FontAwesome';
    font-weight:100;
    content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
    margin-top:16px;
    font-size:16px;
    font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
    text-align: center;
    color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
    font-weight: 600;
    color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
    font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
    font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
    color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
    position:absolute;
    top: 31px;
    height:1px;
    border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
    right:0;
    left:46%;
    margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
    left:0;
    right:46%;
    margin-right:20px;
}
.cardBox3 {
    padding: 20px !important;
    padding-top: 30px  !important;
}
.positionRelative{
    position: relative;
}
.displayNone{
    display: none;
}
.postAJobBtn{
    padding: 7px 19px !important;
    text-align: center !important;
    height: 36px !important;

}