@media only screen and (max-width: 600px) {
    .marginTpBtm20 {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: -10px;
        margin-left: -10px;
        border-radius: 5px;
        background-color: white;
    }
    .pricingHeader6 {
        font-family: SF-UI-Display-Bold;
        font-size: 12px;
        margin-top: 18px;
        margin-bottom: 19px;
        padding: 0px;
        position: relative;
    }
    .pricingHeader8 {
        font-family: SF-UI-Display-Bold;
        font-size: 16px;
        margin-top: 22px;
    }
    .pricingHeader7 {
        font-family: SF-UI-Display-Bold;
        font-size: 12px;
    }
    .popularImg{
        display: none;
    }
    .pricingTableLabel {
        font-family: SF-UI-Display-Regular;
        font-size: 12px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .colorGreen2 {
        background-color: #00B929 !important;
        border-color: #00B929 !important;
        border-radius: 5px !important;
        font-size: 12px !important;
        width: 72px !important;
        margin-left: -16px;
        padding: 6px 0px !important;
        float: none !important;
    }
    .colorNavy {
        background-color: #030A63 !important;
        border-color: #030A63 !important;
        border-radius: 5px !important;
        font-size: 12px !important;
        width: 82px !important;
        padding: 6px 0px !important;
        margin-left: -3px;
        float: none !important;
    }
    .pricingHeader3 {
        font-family: SF-UI-Display-Bold;
        font-size: 19px;
        color: white;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .marginTpBtm120 {
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .pricingHeader4 {
        font-family: SF-UI-Display-Bold;
        font-size: 34px;
        text-align: left;
        margin: 0 auto;
         padding: 0px;
        padding-top: 50px;
        line-height: 40px;
    }
    .pricingHeader4 {
        font-family: SF-UI-Display-Bold;
        font-size: 24px;
        text-align: left;
        margin: 0 auto;
         padding: 0px;
        padding-top: 50px;
        line-height: 32px;
    }
    .pricingHeader5 {
        font-size: 14px;
        margin-top: 14px;
        line-height: 25px;
    }
    .faqQuestions {
        font-family: SF-UI-Display-Bold;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .faqAnswers {
        font-family: SF-UI-Display-Regular;
        font-size: 12px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 768px) {
    .popularImg{
        display: none;
    }
    .pricingHeader6 {
        font-family: SF-UI-Display-Bold;
        font-size: 15px;
        margin-top: 18px;
        margin-bottom: 19px;
        position: relative;
    }
    .pricingHeader7 {
        font-family: SF-UI-Display-Bold;
        font-size: 15px;
    }
    .pricingHeader8 {
        font-family: SF-UI-Display-Bold;
        font-size: 19px;
        margin-top: 24px;
    }
    .pricingHeader4 {
        font-family: SF-UI-Display-Bold;
        font-size: 34px;
        text-align: left;
        margin: 0 auto;
         padding: 0px;
        padding-top: 50px;
        line-height: 40px;
    }
    .marginTpBtm120 {
         margin-top: 0px;
        margin-bottom: 100px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width: 768px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .popularImg{
        display: none;
    }
    .pricingHeader6 {
        font-family: SF-UI-Display-Bold;
        font-size: 18px;
        margin-top: 18px;
        margin-bottom: 19px;
        position: relative;
    }
    .pricingHeader4 {
        font-family: SF-UI-Display-Bold;
        font-size: 34px;
        text-align: left;
        margin: 0 auto;
        padding: 47px;
        padding-top: 50px;
        line-height: 40px;
    }
    .marginTpBtm120 {
         margin-top: 0px;
        margin-bottom: 100px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .popularImg{
        display: none;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}