.pricingHeader{
    background-color: white;
    /* border-radius: 5px; */
    margin-top: 0px;
    margin-bottom: 10px;
    /* margin-left: 5px; */
}
.pricingHeader2{
    background-color: #030A63;
    /* border-radius: 5px; */
    margin-top: 0px;
    margin-bottom: 10px;
    /* margin-left: 5px; */
}

.pricingHeader3{
    font-family: SF-UI-Display-Bold;
    font-size: 34px;
    color: white;
    margin-top: 70px;
    margin-bottom: 70px;
}
.pricingHeader4{
    font-family: SF-UI-Display-Bold;
    font-size: 34px;
    text-align: left;
    margin: 0 auto;
    padding: 100px;
    padding-top: 50px;
    line-height: 40px;
}
.pricingHeader5{
    font-size: 17px;
    margin-top: 14px;
    line-height: 25px;
}
.marginTpBtm120{
    margin-top: 100px;
    margin-bottom: 100px;
}

.marginTpBtm120 span img{
    margin:20px;
}
.pricingHeading1 {
    padding-top: 60px;
    padding-bottom: 5px;
}
.pricingHeading2 {
    padding-top: 0px;
    padding-bottom: 10px;
    font-family: sofia-pro-regular-webfont;
    font-size: 16px;
}
.marginBtm100{
    margin-bottom: 100px;
}
.mrgnTpBtm5{
    margin-bottom: 10px;
}
.marginTpBtm20{
   margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: white;
}
.colorGreen2 {
    background-color: #00B929 !important;
    border-color: #00B929 !important;
    border-radius: 5px !important;
    font-size: 12px !important;
    width: 113px !important;
    padding: 6px 0px !important;
    float: none  !important;
}
.colorNavy {
    background-color: #030A63 !important;
    border-color: #030A63 !important;
    border-radius: 5px !important;
    font-size: 12px !important;
    width: 113px !important;
    padding: 6px 0px !important;
    float: none  !important;
}
.marginTpBtm20_2{
   margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
}
.pricingHeading3 {
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: SF-UI-Display-Bold;
    font-size:20px;
    color: #FFF;
}.pricingHeading4 {
     padding-top: 20px;
     padding-bottom: 5px;
     font-family: SF-UI-Display-Bold;
     font-size: 20px;
     color: #FFF;
}.pricingHeading5 {
     padding-bottom: 10px;
     font-family: SF-UI-Display-Regular;
     font-size: 14px;
     color: #FFF;
}
.pricingImg{
    height:100px;
}
.popularImg{
    position: absolute;
    width: 99px;
    top: 6px;
    right: 0px;
}
.pricingHeader6{
    font-family: SF-UI-Display-Bold;
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 19px;
    position: relative;
}
.pricingHeader9{
    padding-top: 50px;
    text-align: left;
}
.faqQuestions{
    font-family: SF-UI-Display-Bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.faqAnswers{
    font-family: SF-UI-Display-Regular;
    font-size: 14px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.pricingHeader8{
    font-family: SF-UI-Display-Bold;
    font-size: 24px;
    margin-top: 28px;

}
.colorBlue{
    background-color: #F3FBFF;
}
.brdrBtm2{
    margin-bottom: 10px;
    border-bottom: 2px solid #e7e7e7;
}
.pricingHeader7{
    font-family: SF-UI-Display-Bold;
    font-size: 18px;
}
.pricingTableLabel{
    font-family: SF-UI-Display-Regular;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
}
