@media only screen and (max-width: 600px) {
    .cardBox3 {
        background-color: white;
        position: relative;
        border-radius: 8px;
        padding: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .tableHeader{
        text-align: center;
    }
    .tableHeader2 div {
        font-family: SF-UI-Display-Light;
        font-size: 10px !important;
    }
    .noPaddingResp{
        padding: 0px !important;
    }
    .noPaddingResp3{
        padding-left: 5px !important;
        padding-right: 0px !important;
        text-align: center !important;
    }
    .noPaddingResp2{
        padding:15px !important;
    }

    .headerAppliedJobs {
        font-family: SF-UI-Display-Bold;
        font-size: 16px !important;
        margin-top: 14px;
    }
    .marginTp30 {
        margin-top: 5px !important;
    }
    .recommendedJobsHeader {
        font-family: SF-UI-Display-Bold;
        font-size: 21px !important;
        padding-bottom: 20px !important;
        padding-top: 10px;
    }
    .labelLeftMenu {
        font-family: SF-UI-Display-Light;
        font-size: 20px !important;
        margin-bottom: 25px;
    }
    .leftSearchMainSubHeading a {
        color: #747474 !important;
        font-size: 12px !important;
    }
    .labelLeftMenu2 {
        font-family: SF-UI-Display-Light;
        font-size: 20px;
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .jobName9 {
        margin-top: 5px;
        font-family: SF-UI-Display-Bold;
        font-size: 8px;
    }
    .jobDetails1 {
        font-size: 9px;
        padding-top: 10px;
    }
    .paginationContainer span {
        background-color: #fff;
        padding: 5px;
        padding-top: 2px;
        font-size: 11px;
        padding-bottom: 2px;
        margin: 0px;
        cursor: pointer;
    }
    .jobActionEdit {
        font-family: SF-UI-Display-Light;
        font-size: 7px;
        color: #00B929 !important;
        letter-spacing: 0.06em;
        margin-right: 1px;
    }
    .jobActionDelete {
        font-family: SF-UI-Display-Light;
        font-size: 7px;
        color: #F52044 !important;
        letter-spacing: 0.06em;
        margin-right: 1px;
        margin-left: 1px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 768px) {



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width: 768px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px)  {



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}