.mt21{
    margin-top: 3px;
}
.jobAmountGrid2 img{
    margin-right: 5px;
    margin-top: -4px;
}
.responsiveCard{
    padding-left: 5px;
    border-radius: 5px;
    padding-right: 5px;
    box-shadow: rgba(0,0,0,0.1) 0 0 20px;
}
body {
    /* min-height: 2000px !important; */
    background-color: white;
    padding-top: 70px !important;
}
.paginationContainer span {
    background-color: #eee !important;
}
.recommendedJobsHeader{
    font-family: SF-UI-Display-Bold;
    font-size: 25px;
    padding-bottom: 20px !important;
    padding-top: 10px;
}
.recommendedJobsHeader2{
    padding-left: 50px !important;
}
.labelLeftMenu{
    font-family: SF-UI-Display-Light;
    font-size: 24px;
    margin-bottom: 25px;

}
.tableHeader2 div {
    font-family: SF-UI-Display-Light;
    font-size: 15px;
}
.tableHeader3{
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
}
.noBorder{
    border-bottom: none !important;
}
.lastEntry{
    border-bottom: none !important;
}
.noPaddingResp3{
    padding:0px;
    position: relative;
}
.jobName9{
    margin-top: -4px;
    font-family: SF-UI-Display-Bold;
    font-size: 19px;
}
.jobActionEdit{
    font-family: SF-UI-Display-Light;
    font-size: 10px;
    color: #00B929 !important;
    letter-spacing: 0.06em;
    margin-right: 5px;
}
.jobActionDelete{
    font-family: SF-UI-Display-Light;
    font-size: 10px;
    color: #F52044 !important;
    letter-spacing: 0.06em;
    margin-right: 5px;
    margin-left: 5px;
}
.labelLeftMenu2{
    font-family: SF-UI-Display-Light;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 20px;

}

.imgBreifcae{
    width: 21px;
    margin-right: 10px;
    margin-top: -2px;
}

.leftSearchMainSubHeading a{
    color: #747474 !important;
    font-size: 16px;
}
.noPaddingResp{
    padding-left:10px;
    padding-right:10px;
}
.noPaddingResp2{
    padding-left:10px;
    padding-right:10px;
}
.leftSearchMainSubHeading a:hover{
    color: #030A63 !important;
    text-decoration: none !important;
}
.leftSearchMainSubHeading .activeTab{
    color:#030A63 !important;
    font-family: SF-UI-Display-Bold;
}
.leftSearchMainSubHeading {
    margin-bottom: 25px;
    font-family: SF-UI-Display-Regular;
}
.marginTp30 {
    margin-top: 30px;
    padding-bottom: 15px !important;
    border-bottom: 1px solid #ccc !important;
}