

@font-face {
    src: url(../font/SF-UI-Display-Bold.ttf);
    font-family: 'SF-UI-Display-Bold';
}
@font-face {
    src: url(../font/SF-UI-Display-Regular.otf);
    font-family: 'SF-UI-Display-Regular';
}
@font-face {
    src: url(../font/Sofia-Pro-Semi-Bold.otf);
    font-family: 'Sofia-Pro-Semi-Bold';
}
@font-face {
    src: url(../font/sofia-pro-regular-webfont.ttf);
    font-family: 'sofia-pro-regular-webfont';
}
@font-face{
    src: url(../font/sofiapro-light.otf);
    font-family: 'sofiapro-light';
}
@font-face{
    src: url(../font/sofia-pro-black-webfont.ttf);
    font-family: 'sofia-pro-black-webfont';
}
@font-face{
    src: url(../font/SF-UI-Display-Light.otf);
    font-family: 'SF-UI-Display-Light';
}
@font-face{
    src: url(../font/Sofia-Pro-Medium.otf);
    font-family: 'Sofia-Pro-Medium';
}
@font-face{
    src: url(../font/SF-UI-Display-Medium.otf);
    font-family: 'SF-UI-Display-Medium';
}
@font-face{
    src: url(../font/Sofia-Pro-Bold.otf);
    font-family: 'Sofia-Pro-Bold';
}

.registerHeader{
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.radioText{
    font-family: SF-UI-Display-Light;
    font-size: 14px;
    color:#717171
}
.profilePic-button {
    margin-top: 50px;
    margin-bottom: 0px;
}
.profilePic2-button {
    margin-top: 50px;
    margin-bottom: 0px;
}


.uploadResume-button {
    margin-top: 50px;
    margin-bottom: 0px;

}.submitResume-button {
      margin:0 auto;
    margin-top: 50px;
    margin-bottom: 0px;

}.submitResume2-button {
      margin:0 auto;
    margin-top: 50px;
    margin-bottom: 0px;

}
 .labelUploadPic{
     line-height: 40px;
 }
.profilePic-button a {
    background-color: #00B929;
    color: #FFF;
    padding: 10px 19px;
    font-size: 14px;
    font-family: 'SF-UI-Display-Regular',sans-serif !important;
    text-decoration: none;
}.profilePic2-button label{
    background-color: #00B929;
    color: #FFF;
    padding: 10px 19px;
    font-size: 14px;
    font-family: 'SF-UI-Display-Regular',sans-serif !important;
    text-decoration: none;
    cursor: pointer;
}

.profilePic2-button .file-input{
width: 0.1px;

height: 0.1px;

opacity: 0;

overflow: hidden;

position: absolute;

z-index: -1;
}

.outer {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.outer .inner{
    background:#fff;
    padding:0 23px;
    font-family: SF-UI-Display-Bold;
    font-size: 24px;
}
.getIntouchText{
    font-family: "SF-UI-Display-Light";
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}.getIntouchTextPh{
    font-family: "SF-UI-Display-Bold";
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.uploadResume-button > input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.uploadResume-button label {
    background-color: #FF0C2E;
    color: #FF0C2E;
    padding: 10px 19px;
    font-size: 14px;
    border-radius: 3px;
     float: right;
    font-family: 'SF-UI-Display-Regular',sans-serif !important;
    text-decoration: none;
    cursor: pointer;
}
.submitResume-button button {
    background-color: #030A63;
    color: #fff;
    padding: 10px 19px;
    font-size: 14px;
    border-radius: 3px;
    font-family: 'SF-UI-Display-Regular',sans-serif !important;
    text-decoration: none;
}
.submitResume2-button button {
    background-color: #030A63;
    color: #fff;
    padding: 10px 40px;
    font-size: 14px;
    border-radius: 3px;
    font-family: 'SF-UI-Display-Regular',sans-serif !important;
    text-decoration: none;
}
 .marginT60{
     margin-top: 70px !important;
     margin-bottom: 90px !important;
 }
.profileDesc{
    font-family: SF-UI-Display-Light;
    font-size: 14px;
    padding: 20px;
    color: #717171;
}.profileDesc2{
    font-family: SF-UI-Display-Light;
    font-size: 14px;
    padding: 30px;
    color: #717171;
}
.profileSpan{
    /*padding:5px;*/
}
.profileImg{
    width: 100%!important;
    object-fit: cover !important;
    margin-left: 10px !important;
    border: 1px solid #D4D4D4;
    margin-top: 10px !important;
    object-position: 0 0 !important;
    border-radius: 50% !important;
}
.profileCompanyImg{
    width: 100%!important;
    object-fit: cover !important;
    margin-left: 10px !important;
    border: 1px solid #D4D4D4;
    margin-top: 10px !important;
    object-position: 0 0 !important;
}
.radioDiv{
    width:95%;
    margin:0 auto;
}.uploadDiv{
    width:80%;
    /*margin:0 auto;*/
}

.registerDescContent{
    width: 85%;
    margin: 0 auto;
}
.registerDesc{
    font-family: 'SF-UI-Display-Regular', sans-serif;
    font-size: 16px;
    margin-bottom: 50px;
}
.registerHeaderBox{
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.width100{
    width:100%;
}
.width60{
    width: 60%;
}
.width50{
    width: 40%;
}
.registerHeaderBox2{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 3%;
}
.registerHereText{
    font-family: 'SF-UI-Display-Bold';
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 35px;

}
.registerHereSubText{
    font-family: 'SF-UI-Display-Bold';
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 20px;
}
.registerHereSubText2{
    font-family: 'SF-UI-Display-Bold';
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 30px;
}
.registerHereSubText3{
    font-family: 'SF-UI-Display-Light';
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #717171;
}

.pdlt0{
    padding-right: 5px;
}
.pdlt0 select{
    -webkit-appearance: none !important;
}
.pdrt0{
    padding-left: 5px;
}
.marginT20 select{
    color: #999;
}
.registerHereSubTextInput{
    font-family: 'SF-UI-Display-Light';
    font-size: 14px;
    color:#717171;
}
.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 19px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #717171;
    background-color: #fff;
    background-image: none;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
     -webkit-box-shadow: none;
     box-shadow: none;
     -webkit-transition: none;
    -o-transition: none;
     transition: none;
}
.marginT20{
    margin-top: 22px;
}
.form-control:focus {
    border-color: #E7E7E7;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.error,.error:focus,.error:active,.error:hover {
    /*border-color: red !important;*/
    /*outline: 0;*/
    /*-webkit-box-shadow: inset 0 0px 1px red, 0 0 2px #ff000099  !important;*/
    /*box-shadow: inset 0 0px 1px red, 0 0 2px #ff000099  !important;*/
    margin-top: 4px;
    color: #f51515b3;
}
.registerHereBox{
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}.registerHereBox2{
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 50px;
}
.mrginTpBtm20{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'SF-UI-Display-Medium';
    font-size: 17px;
}
.width70{
    width:70%;
}
.mrginTB15{
    margin-top:15px;
    margin-bottom: 15px;
}
.registerHeaderMiddle{
    margin-top: 40px;
    margin-bottom: 25px;
    font-family: 'SF-UI-Display-Bold', sans-serif;
    font-size: 24px;
}
.registerHeader2Middle{
    margin-top: 30px;
    margin-bottom: 25px;
    font-family: 'SF-UI-Display-Bold', sans-serif;
    font-size: 24px;
}
.headingPage {
    font-family: 'SF-UI-Display-Bold';
    font-size: 24px;
}
/* updates in css*/
.form-group .dob_pick{
    float: left;
    width: 92%;
    margin-bottom: 22px;
    background-color: #FFF !important;
}

.form-group .ui-datepicker-trigger{
    float: left;
    margin: 10px 6px;
    cursor: pointer;
    width: 30px;
}

.ui-datepicker{
    z-index: 2 !important;
}



.selectize-dropdown-content{
    background-color:#FFF;
    border: 1px solid #E7E7E7;
}

.selectize-control{
    padding: 0px 0px;
    height: 0px;
    border: none !important;
}

.selectize-input{
    height: 50px !important;
    border: 1px solid #E7E7E7 !important;
    border-top: 0 !important;
    padding: 13px 0px 0px 22px !important;
    
}

#datepicker-error{
 margin-top: -17px;
}

#name-error{
 margin-left: -82px;   
}

#cp_name-error{
    
    margin-left: -82px; 
}

#experience_level-error{
    font-weight:900 !important;
}

#comp_type-error{
    font-weight:900 !important;
}

#curr_selected_file{
    position: absolute;
    left: 43%;
    bottom: 9%;
    color: #f21231cc;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}


.ms-options-wrap button{
    display: block !important;
    width: 100% !important;
    height: 50px !important;
    padding: 6px 30px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #717171 !important;
    background-color: #fff !important;
    border: 1px solid #E7E7E7 !important;
    border-radius: 4px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    font-family: 'SF-UI-Display-Light';
    font-size: 14px !important;
    transition: none;
}

