@media only screen and (max-width: 600px) {
    
    .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
        margin-right: -1px;
        height: 38px !important;
        width: 90%;
        border-radius: 4px;
        border: 1px solid #E7E7E7;
    }
    .headingPage {
        font-family: 'SF-UI-Display-Bold';
        font-size: 17px;
    }
    .registerHeaderMiddle {
        margin-top: 14px;
        margin-bottom: 14px;
        font-family: 'SF-UI-Display-Bold', sans-serif;
        font-size: 17px;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        font-family: 'SF-UI-Display-Medium';
        font-size: 13px;
    }
    .footer-menu-text h4, h5 {
        font-family: sofia-pro-regular-webfont;
        font-size: 15px;
        color: #FFF;
        margin-bottom: 10px;
    }
    .footer-menu ul li a {
        font-size: 12px;
        color: #fff;
        font-family: sofiapro-light;
        text-decoration: none;
    }
    .copyright {
        margin: 50px 0px 20px;
        font-family: SF-UI-Display-Light;
        font-size: 12px;
        color: white;
    }
    .hr-line {
        border-bottom: 1px solid white;
        padding: 0px 0px 18px;
        font-size: 15px;
        font-family: sofiapro-light;
    }
    .registerDesc {
        font-family: 'SF-UI-Display-Regular', sans-serif;
        font-size: 12px;
        margin-bottom: 20px;
        padding: 0px;
    }
    .registerDescContent {
        width: 100%;
        margin: 0 auto;
    }
    .mrginTpBtm20 {
        margin-top: 12px;
        margin-bottom: 12px;
        font-family: 'SF-UI-Display-Medium';
        font-size: 11px;
    }
    .registerHereText {
        font-family: 'SF-UI-Display-Bold';
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .registerHereSubText {
        font-family: 'SF-UI-Display-Bold';
        font-size: 15px;
        margin-top: 22px;
        margin-bottom: 0px;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 38px;
        padding: 10px 6px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #717171;
        background-color: #fff;
        background-image: none;
        border: 1px solid #E7E7E7;
        border-radius: 4px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    
    .form-group .dob_pick {
        float: left;
        width: 86%;
        margin-bottom: 22px;
   }
   
   .form-group .ui-datepicker-trigger{
        float: left;
        margin: 9px 5px;
        cursor: pointer;
        width:20px;
}
    
    .selectize-input{
        height: 38px !important;
        border: 1px solid #E7E7E7 !important;
        border-top: 0 !important;
        padding: 8px 0px 0px 10px !important;
        margin-top: -10px;
    
}
    
    .resp{
        width: 129% !important;
        height: 38px !important;
        padding: 10px 4px !important;
    }
    .dropdown-menu-ph {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        width: 250px !important;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 11px !important;
        text-align: left;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        height: auto;
        max-width: 350px;
        max-height: 400px;
        overflow: auto;
    }
    .radio label, .checkbox label {
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        font-size: 11px;
        font-weight: normal;
        cursor: pointer;
    }
    .profilePic2-button {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .profileDesc {
        font-family: SF-UI-Display-Light;
        font-size: 9px;
        padding: 20px;
        letter-spacing: 0.08em;
        color: #717171;
    }.profileDesc2 {
        font-family: SF-UI-Display-Light;
        font-size: 9px;
        padding: 20px;
        letter-spacing: 0.08em;
        color: #717171;
    }
    .profilePic-button a {
        background-color: #00B929;
        color: #FFF;
        padding: 10px 5px;
        font-size: 10px;
        font-family: 'SF-UI-Display-Regular',sans-serif !important;
        text-decoration: none;
    } .profilePic2-button a {
        background-color: #00B929;
        color: #FFF;
        padding: 10px 5px;
        font-size: 10px;
        font-family: 'SF-UI-Display-Regular',sans-serif !important;
        text-decoration: none;
    }
    .uploadResume-button a {
        background-color: #FF0C2E;
        color: #FF0C2E;
        padding: 6px 11px;
        font-size: 14px;
        margin-right: -8px;
        border-radius: 3px;
        float: right;
        font-family: 'SF-UI-Display-Regular',sans-serif !important;
        text-decoration: none;
    }
    .marginT60 {
        margin-top: 68px !important;
        margin-bottom: 40px !important;
    }
    .outer .inner {
        background: #fff;
        padding: 0 15px;
        font-family: SF-UI-Display-Bold;
        font-size: 17px;
    }
    .getIntouchText {
        font-family: "SF-UI-Display-Light";
        font-size: 11px;
        margin-top: 0px;
        letter-spacing: 0.02em;
        margin-bottom: 10px;
    }
    .getIntouchTextPh {
        font-family: "SF-UI-Display-Bold";
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 31px;
    }
    .star{
    color: red
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width: 768px) {
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        font-family: 'SF-UI-Display-Medium';
        font-size: 9px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .form-control {
        display: block;
        width: 100%;
        height: 50px;
        /*padding: 6px 8px;*/
        font-size: 14px;
        line-height: 1.42857143;
        color: #717171;
        background-color: #fff;
        background-image: none;
        border: 1px solid #E7E7E7;
        border-radius: 4px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    .form-box .form-control{
        height:34px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}