.topEmployerBanner{
    height:250px;
    text-align: center;
    background: url(../../images/Job4Gulf_Banner/top_employers_banner.png);
    background-size: auto auto;
    background-color: #012377e6;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.topEmployerBanner span {
    font-family: "SF-UI-Display-Light" !important;
    font-size: 21px !important; 
    /*line-height: 200px;*/
    letter-spacing: 0.02em;
    color: #FFF;
}
.margnBtm30{
    margin-bottom: 30px;
    margin-top: 10px;
}
.paginationContainer{
    float: right;
}
.paginationContainer span{
    background-color: #fff;
    padding: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px;
    cursor: pointer;
}
.paginationContainer span:hover{
    background-color: #00b9f51a;
}
.paginationContainer .active{
   background-color: #00B9F5;
    color: #fff;
}
.searchButton{
    font-family: "SF-UI-Display-Light";
}
.leftSearchBox{
    background-color: white;
}.cardBox{
/*     border-bottom: 5px solid #0039A5 !important;
*/     border: 1px solid #ded8d8;
     background-color: white;
     position: relative;
     padding: 38px 0px 18px;
}
.lastActivity {
    position: absolute;
    right: 8px;
    bottom: 4px;
    font-family: SF-UI-Display-Regular;
    color: #999999db;
    font-size: 13px;
}
.flagimg{
   width: 30px;
}

.jobs_country_head h4{
   font-family: "SF-UI-Display-Medium";
}

.margin_btm10{
    margin-bottom: 12px;
}

.cardImgBestCandidate{
    width: 100px !important;
    object-fit: cover !important;
    object-position: 0 0 !important;
    height: 100px !important;
    border-radius: 50% !important;
    margin-top: 22px;
    margin-bottom: 22px;
}
/*.heart:before {
    content: '\2665';
}
.heartSelected {
    color: #FF0C2E !important;
}
 .heart{
     position: absolute;
     right: 35px;
     top: 5px;
     cursor: pointer;
     color: #ccc;
     font-size: 30px;
 }*/
 .cardBoxRow{
     position: relative;
 }
.cardCompanyName{
    font-family: "SF-UI-Display-Medium";
    font-size: 18px;
}.cardUserName{
    font-family: "SF-UI-Display-Medium";
    font-size: 17px;
}
.cardCompanyName a{
    color:#000 !important;
}
.cardUserDesignation {
     font-family: "SF-UI-Display-Medium";
     font-size: 13px;
     margin-top: 5px;
     color: #919191;
 }
.cardUserCity {
     font-family: "SF-UI-Display-Light";
     font-size: 13px;
     margin-top: 12px;
     color: #919191;
 }
.cardUserAmount {
     font-family: "SF-UI-Display-Regular";
     font-size: 13px;
     margin-top: 12px;
    margin-bottom: 40px;
     color: #00B929;
 }
.positionRel{
    position: relative;
    color: #0bca0b;
}
.positionRel img{
    position: absolute;
    left: -14px;
    top: 1px;
}
/*.positionRe2{
    position: relative;
}
.positionRe2 img{
    position: absolute;
    left: -18px;
    top: -1px;
}*/
.cardCompanyLoc{
    font-family: "SF-UI-Display-Regular";
    font-size: 14px;
    margin-top: 3px;
}.cardCompanyLoc2{
     font-family: "SF-UI-Display-Regular";
     font-size: 14px;
     margin-top: 3px;
}.cardCompanyLoc3{
     font-family: "SF-UI-Display-Regular";
     font-size: 14px;
     margin-top:14px;
}
.cardCompanyOpenings{
    margin-top: 27px;
    margin-bottom: 27px;
}
.cardCompanyOpenings2 {
    margin-top: 27px;
    margin-bottom: 16px;
}
.cardOpening{
    width: 54% !important;
    margin: 0 auto;
    float: none !important;
    padding: 0px !important;
    padding-bottom: 7px  !important;
    padding-top: 7px  !important;
    margin-left: 0px !important;
    font-size: 12px !important;
}
.cardCompanyOpeningsInner{
    padding:2px;
    font-family: SF-UI-Display-Regular;
    font-size: 15px;
}
.LeftSearchMainHeading{
    background-color: white;
    font-family: "SF-UI-Display-Light";
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}
.mt20{
    margin-top: 20px;
}
.paddingSearchBox{
    padding: 15px;
    padding-top: 20px;
}
.LeftSearchSubHeading{
    background-color: white;
    font-family: "SF-UI-Display-Light";
    font-size: 14px;
    display: block;
    position: relative;
    margin-bottom: 10px;
}
.optionDiv{
    /*line-height: 10px;*/
}
.optionDiv2{
     float: right;
     margin-top: 1px;
}
.searchCheckBox{
    margin-top: 3px !important;
}
.openCloseNav{
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}
.borderBtm{
    border-bottom: 1px solid #ddd;
}
.mrgntp10{
    margin-top: 10px;
}
.hide2 {
    width: 50%;
    float: left;
    clear: both;
    border: 1px solid #000;
    background: red;
    opacity: 1;
    overflow: hidden;
    transform: translateY(0);
    margin: 0;
    transition: all 1.5s linear, margin 0s linear 0s;
}
.searchField{
    font-family: SF-UI-Display-Light;
    font-size: 12px;
    display: block;
    line-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    letter-spacing: 0.03em;
    padding: 2px;
}
.mrgnLft0{
    margin-left: 0px;
}
.searchInputTE{
    display: block;
    font-family: SF-UI-Display-Light;
    float: right !important;
    width: 246px !important;
    height: 38px ;
    /* padding: 6px 8px; */
    font-size: 13px;
    line-height: 1.42857143;
    color: #717171;
    background-color: #fff;
    background-image: none;
    border: 1px solid #E7E7E7;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    position: relative;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.searchInputTE:focus {
    border: 1px solid #E7E7E7 !important;
    border-color: #E7E7E7 !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.showMore {
    font-family: "SF-UI-Display-Light";
    color: #00B9F5;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-success {
    color: #ffffff !important;
    background-color: #00B929 !important;
    border-color: #00B929 !important;
    padding: 7px 16px !important;
}
.mrginTpBtm20 {
    margin-top: 30px;
     margin-bottom: 0px !important;
    font-family: 'SF-UI-Display-Medium';
    font-size: 17px;
}