@media only screen and (max-width: 600px) {
    .searchInputTE {
        display: block;
        font-family: SF-UI-Display-Light;
        float: right !important;
        width: 100% !important;
        height: 29px !important;
        /* padding: 6px 8px; */
        font-size: 13px !important;
        line-height: 1.42857143;
        color: #717171;
        background-color: #fff;
        background-image: none;
        border: 1px solid #E7E7E7;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        position: relative;
        border-radius: 4px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    .searchButton {
        font-family: "SF-UI-Display-Light";
        font-size: 10px !important;
    }
    .searchField {
        font-family: SF-UI-Display-Light;
        font-size: 12px;
        /*display: inline;*/
    }
    .searchCheckBox {
        margin-top: 3px !important;
    }
    .responsiveCard{
        padding: 0px !important;
    }
    .nopadding{
        padding-left:15px;
        padding-right:15px;
    }

}

