.backgroundBlue{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.walkingHeading{
    font-size: 30px !important;
    margin-top: 160px;
}
.walkingSubHeading{
    font-family: "Sofia Pro Light" !important;
    font-size: 16px !important;
}
.cardBox2 {
    background-color: white;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 20px !important;
}
.cardImg4{
    width: 50%;
}
.jobLocation {
    font-family: SF-UI-Display-Regular !important;
    font-size: 14px !important;
    color: black !important;
    margin-bottom: 5px;
    margin-left: 21px !important;
    position: relative;
    padding-left: 7px !important;
}
.jobLocation img {
    position: absolute;
    left: -21px !important;
    top: 2px !important;
    width: auto !important;
}
.walkinHeader{
    font-family: "SF-UI-Display-Regular";
   /* font-size: 20px;*/
    margin-top: 5px;
    margin-bottom: 5px;
}
.walkinHeader h3{
    font-size: 21px;
    font-family: "SF-UI-Display-Medium";
}
.walkinHeader2{
    font-family: "SF-UI-Display-Regular";
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.img_back_div{
    margin-top: 19px;
}

.walkinHeader2 h4{
    font-family: "SF-UI-Display-Medium";
}
.optionDiv2 {
    position: relative;
    margin-top: 0px !important;
}
.optionDiv2 img {
    position: absolute;
    left: -17px;
    top: 2px;
}
.noPadding1 {
    padding: 0px ;
}
.walkinHeader3{
    font-family: "SF-UI-Display-Medium";
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.walkinHeader4{
    font-family: "SF-UI-Display-Light";
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #919191;;
    width: 100%;
}
.marginTPBtm10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.detailsWalkin{
    font-family: "SF-UI-Display-Regular";
    font-size: 14px;
    color: #919191;
}

.ui-datepicker-trigger{
    float: right !important;
}