@media only screen and (max-width: 600px) {
    .cardImg2 {
        width: 70% !important;
    }
    .walkingSubHeading {
        font-family: "Sofia Pro Light" !important;
        font-size: 13px !important;
        width: 100%;
        padding-left: 30px;
        margin-top: 15px;
        padding-right: 30px;
    }
    .walkingHeading {
        font-size: 24px !important;
        margin-top: 160px;
    }
    .jobLocation {
        font-family: SF-UI-Display-Regular !important;
        font-size: 13px !important;
        color: black !important;
        margin-bottom: 5px;
        margin-left: 21px !important;
        position: relative;
        padding-left: 7px !important;
    }
    .detailsWalkin {
        font-family: "SF-UI-Display-Regular";
        font-size: 13px;
        color: #919191;
    }
    .walkinHeader2 {
        font-family: "SF-UI-Display-Regular";
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .noPadding1{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .walkinHeader4 {
        width: 100%;
        font-family: "SF-UI-Display-Light";
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #919191;

    }
    .text-center1{
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and  (max-width: 768px) {

    .noPadding1{
        padding-left: 5px !important;
        padding-right: 5px !important;
    } .text-center1{
          text-align: center;
      }

    .walkingSubHeading {
        font-family: "Sofia Pro Light" !important;
        font-size: 13px !important;
        width: 100%;
        padding-left: 30px;
        margin-top: 15px;
        padding-right: 30px;
    }
    .walkingHeading {
        font-size: 24px !important;
        margin-top: 160px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width: 768px) {
    .noPadding1{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .noPadding1{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px)  {



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}