/*media query*/

/**/


@media (max-width: 1920px) {

}


@media (max-width: 1200px) {

}


@media (max-width: 991px) {
.premium-job-pannel{
	height: 380px;
}

.pricing{
	margin-top: 38px;
}

.latest-job-pannel{
	height: 370px;
}

/*.premium-job-details, .pricing{
    text-align: center;
}*/


}


@media (max-width: 767px) {

}


@media (max-width: 479px) {

.latest-job-pannel .social-img{
	width: 130px;
} 


}


@media (max-width: 442px) {

/*.pricing{
	margin: 0;
}*/

}

@media (max-width: 320px) {

.premium-job-pannel{
	height: 380px;
}
.pricing{
	margin: 0;
}


}
/*end of media query*/



