@media only screen and (max-width: 600px) {
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        font-family: 'SF-UI-Display-Medium';
        font-size: 13px;
    }
    .footer-menu-text h4, h5 {
        font-family: sofia-pro-regular-webfont;
        font-size: 15px;
        color: #FFF;
        margin-bottom: 10px;
    }
    .footer-menu ul li a {
        font-size: 12px;
        color: #fff;
        font-family: sofiapro-light;
        text-decoration: none;
    }
    .copyright {
        margin: 50px 0px 20px;
        font-family: SF-UI-Display-Light;
        font-size: 12px;
        color: white;
    }
}
@media only screen and (width: 768px) {
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        font-family: 'SF-UI-Display-Medium';
        font-size: 9px;
    }
    .input-group .form-control {
        /*width: 100% !important;*/
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        font-family: 'SF-UI-Display-Medium';
        font-size: 9px;
    }
    .footer-menu-text h4, h5 {
        font-family: sofia-pro-regular-webfont;
        font-size: 16px;
        color: #FFF;
        margin-bottom: 10px;
    }
    .hr-line {
        border-bottom: 1px solid white;
        padding: 0px 0px 18px;
        font-size: 14px;
        font-family: sofiapro-light;
    }
    .footer-menu ul li a {
        font-size: 14px;
        color: #fff;
        font-family: sofiapro-light;
        text-decoration: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        font-family: 'SF-UI-Display-Medium';
        font-size: 11px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        font-family: 'SF-UI-Display-Medium';
        font-size: 16px;
    }
}