/*@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@font-face{
    src: url(../font/Consolas.ttf);
    font-family: 'Consolas';
}*/
@import 'page/registerAsJobSeeker.css';
@import 'page/registerResponsive.css';
@import 'page/topEmployeeResponsive.css';
@import 'page/topEmployer.css';
@import 'page/jobSearch.css';
@import 'page/jobSearchResponsive.css';
@import 'page/jobDetailResponsive.css';
@import 'page/jobDetail.css';
@import 'page/search_country.css';

@import 'page/walkin.css';
@import 'page/walkinResponsive.css';
@import 'page/contactUs.css';
@import 'page/contactUsResponsive.css';
@import 'page/pricingResponsive.css';
@import 'page/pricing.css';
@import 'page/ourPlanResponsive.css';
@import 'page/ourPlan.css';
@import 'page/recommendedJobsResponsive.css';
@import 'page/recommendedJobs.css';
@import 'page/appliedJobs.css';
@import 'page/postAJobResponsive.css';
@import 'page/postAJob.css';
@import 'page/employeeProfileResponsive.css';
@import 'page/employeeProfile.css';

@import 'page/lastActivityResponsive.css';
@import 'page/lastActivity.css';

body{height:auto;}

@font-face {
    src: url(../font/SF-UI-Display-Bold.ttf);
    font-family: 'SF-UI-Display-Bold';
    }
@font-face {
    src: url(../font/SF-UI-Display-Regular.otf);
    font-family: 'SF-UI-Display-Regular';
    }
@font-face {
    src: url(../font/Sofia-Pro-Semi-Bold.otf);
    font-family: 'Sofia-Pro-Semi-Bold';
    }
@font-face {
    src: url(../font/sofia-pro-regular-webfont.ttf);
    font-family: 'sofia-pro-regular-webfont';
    }
 @font-face{   
    src: url(../font/sofiapro-light.otf);
    font-family: 'sofiapro-light';
}
@font-face{
    src: url(../font/sofia-pro-black-webfont.ttf);
    font-family: 'sofia-pro-black-webfont'; 
}
@font-face{
    src: url(../font/SF-UI-Display-Light.otf);
    font-family: 'SF-UI-Display-Light'; 
}
@font-face{
    src: url(../font/Sofia-Pro-Medium.otf);
    font-family: 'Sofia-Pro-Medium';
}
@font-face{
    src: url(../font/SF-UI-Display-Medium.otf);
    font-family: 'SF-UI-Display-Medium'; 
}
@font-face{
    src: url(../font/Sofia-Pro-Bold.otf);
    font-family: 'Sofia-Pro-Bold'; 
}
html{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    width:100%;
    overflow: hidden !important;
}

.dropdown-menu  li  a:hover {
    color: #00B929 ;
}
.second_dropdown   a:hover {
    color: #FFF !important;
}
.footer-menu  li  a:hover{
    color: #00B929 !important;
}

.nopadding{
    padding-left: 0;
    padding-right: 0;
}

.height-padding{
padding: 75px;
}

.push-left{
    margin-left: 16%;
}

.form-box input[type="text"],.form-box .form-group{
    width: 100%;
    display: block;
}
/* .form-box input[type="select"],.form-box .form-group{
    width: 100% !important;
    display: block;
} */

.form-inline .form-control {
    width:100% !important;
}
.type-it{
    border-radius: 0;
    padding: 6px 10px;
}

.rounded{
    border-radius: 4px 0px 0px 4px !important;
}
.roundedNA{
    border-radius: 0px 0px 0px 0px !important;
}
.searchInput{
    font-size: 13px;
    font-family: 'SF-UI-Display-Light';
}
.form-box{
    width: 70%;
    margin: 0 auto;
    margin-top: 62px;
}
.main-content{
    background-image: url(../images/Job4Gulf_Banner/home_page_banner.png);
    background-color: #265CC3;
    background-size: cover;	
    min-height: 750px;
    position: inherit;	
}
.nomrgn{
    margin:0px !important;
}
.banner-2{
    background-color: #fff;
}
.banner-3{
    background-color: #70707024;
    padding: 80px;
}
.banner-4{
    background-color: #030A63;
    /*min-height: 100%;*/
}

.icon-bar {
  color: white;
  border-color: white;
  background-color: white;
}

/*.navbar-nav a{*/
    /*color: white !important;*/
    /**/
/*}*/

/*.navbar-nav li a{*/
     /*background-color: transparent;*/
 /*}*/
/*#myNavbar{*/
    /*background-color: #183785;*/
/*}*/

/*.navbar-nav{*/
    /*margin-top: 10px;*/
    /*width: 60%;*/
    /*float: right;*/
    /**/
    /**/
/*!*}*!*/
/*.top-nav{*/
    /*background-color: #0000;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*top: 0;*/
/*}*/
/*.positionNavBar{*/
    /*margin-top: 2%;*/
    /*margin-right: 5%;*/
/*}*/
.noPadding{
    padding:0 % !important;
}
/*.navbar-brand {*/
    /*float: left !important;*/
    /*height: 58px !important;*/
    /*padding: 15px 140px !important;*/
    /*font-size: 18px !important;*/
    /*line-height: 20px !important;*/
/*}*/

.width80{
    width: 83%;
    margin: 0 auto;
}
.width90{
    width: 92%;
    margin: 0 auto;
}
.modal-dialog{
    margin-top: 100px;
}
.forgetPass{
    color: #183785;
    font-size: 12px;
    line-height: 34px;
    font-family: 'SF-UI-Display-Bold'
}
.btn-success {
    color: #fff !important;
    background-color: #00b929 !important;
    border-color: #00b929 !important;
    float: right !important;
    border-radius: 0px !important;
    padding: 6px 40px !important;
    height: 34px;
    letter-spacing: 0.06em !important;

}
.height34{
    height:34px;
}
.cornerLeft{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.cornerRight{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.marginNegative {
    font-size: 13px;
    margin: -2px;
    width: 50%;
    border-color: #183785;
    color: #183785;

    font-family: 'SF-UI-Display-Bold';
}
.loginBtn{
    height: 41px !important;
}
.form-control:focus {
    border-color: #183785;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #18378540;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #18378540;
}
/* .error,.error:focus,.error:active,.error:hover {
    border-color: red !important;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 1px red, 0 0 2px #ff000099  !important;
    box-shadow: inset 0 0px 1px red, 0 0 2px #ff000099  !important;
} */
.marginTp30{
    margin-top : 30px;
}
.dontHaveAccount{
    color: #999999c9;
    font-family: Sofia-Pro-Medium;
    font-size: 12px;
    letter-spacing: 0.02em;
    cursor: pointer;

}.dontHaveAccount:hover{
   text-decoration: underline;

}
.fontLogin{
    font-size: 23px;
    font-family: 'Sofia-Pro-Bold', sans-serif !important;
}
.btn-default:hover {
    color: #333;
    background-color: #00b9f50f;
    border-color: #183785;
}
.btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #c1ecfa1a;
    border-color: #183785;
}
.paddingBody{
    padding-top: 40px;
    padding-left: 13%;
    padding-right: 13%;
    font-family: sofiapro-light;
}
/*.nav>li>a:focus, .nav>li>a:hover {*/
    /*text-decoration: none;*/
    /*background-color: transparent;*/
/*}*/
.modal-content{
    border-top: 4px solid #00B929;
}
.modal-header {
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
}
/*.nav li a{*/
    /*padding:10px !important;*/
    /*font-family: 'SF-UI-Display-Medium';*/
    /*font-weight:normal;*/
    /*font-size: 16px;*/
/*}*/
/*.nav li a:hover{*/
  /*background-color: transparent;*/
/*}*/




.second-navbar{
    margin-top: 28px;
    padding: 0px 16px;
}
.modal-open{
    padding:0px !important;
}
.form-box label{
    color: white;
    font-size: 15px;
    font-family: SF-UI-Display-Regular;
}
.second_dropdown {
    width: 100% !important;
} 
.second-navbar ul li {
    list-style-type: none;
    width: 16.5%;
    float: left;
    background-color: #00B929;
    text-align: center;
    padding: 14px 8px;
    color: #fff;
    cursor: pointer;
    font-family: 'SF-UI-Display-Light';
    font-size: 14px;
}
.second-navbar ul li.active a {
    cursor: context-menu;
}
.second-navbar ul li.active {
    cursor: context-menu;
}
.second-navbar .dropdown-menu{
    background-color: #00b929 !important;
}
.optionUl{
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

.second-navbar ul li a{
    color: #fff;
    font-family: 'SF-UI-Display-Light';
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 0.04em;
    font-size: 12px;
    cursor: pointer;
}
.second-navbar ul li:hover {
    background-color: #028C21;
}
.heading{
    margin-top: 100px;
}

.second-navbar .active {
  background-color: #028C21 !important;
}

.caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 7px;
    vertical-align: middle;
    border-top: 6px dashed !important;    
    border-right: 6px solid transparent !important;
    border-left: 6px solid transparent !important;
}

.head-text{
    margin-top: 100px;
}
.head-text h2{
color: #fff;
font-size: 44px;
line-height: 24px;
    margin-bottom: 32px;
letter-spacing: 2px;
font-weight: 700;
font-family: 'Sofia-Pro-Bold',sans-serif !important;
}
.head-text h3{
    color: #fff;
    font-size: 28px;
    line-height: 24px;
    margin-bottom: 32px;
    /* letter-spacing: 2px; */
    /* font-weight: 700; */
    font-family: 'Sofia-Pro-Medium',sans-serif !important;
}
.header-button{
    margin-top: 60px;
    margin-bottom: 120px;
}
.header-button a{
    background-color: #00B929;
    color: #FFF;
    padding: 10px 40px;
    font-size: 20px;
    font-family: 'SF-UI-Display-Medium',sans-serif !important;
    text-decoration: none;
}
.sliderImg{
    width: 100%;
    max-height: 313.47px;
    margin: 0 auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.page-heading{
    padding: 85px 0px 30px;
    /* margin-bottom: -40px; */
    text-align: center;
    position: relative;
}
.section-footer{
    padding: 40px 0px 40px;
    /* margin-bottom: -40px; */
    text-align: center;
}
.page-heading2{
    padding: 0px 0px 42px;
    /* margin-bottom: -40px; */
    text-align: center;
}
.knowMoreAbtus{
    background-color: #00B929;
     background: url(../images/home1/banner_1.png);
    height: 243px;
    background-repeat: no-repeat;
    background-size: contain;
}
.questionBkclr{
    background-color: #030A63;
     background: url(../images/home1/banner_2.png);
    height: 243px;
    background-repeat: no-repeat;
    background-size: contain;
}
.knowMoreBtusImg{
    width: 100%;
}
.questionsImg{
    height: 300px;
}
.knowAbtMoreHeader{
    color: white;
    font-family: Sofia-Pro-Bold;
    font-size: 28px;
    margin-top: 60px;
}
.questionsMoreHeader{
    color: white;
    font-family: Sofia-Pro-Bold;
    font-size: 28px;
    margin-top: 93px;
}
.knowAbtMoreDesc{
     color: white;
     font-family: Sofia-Pro-Medium;
     font-size: 18px;
     margin-top: 10px;
}
.page-heading span{
color: #000;
font-size: 32px;
font-weight: bold;
letter-spacing: 1px;
font-family: 'SF-UI-Display-Bold';
    cursor: pointer;
}

.page-heading span:hover{
text-decoration: underline;

}
.page-heading2 span{
color: #000;
font-size: 18px;
font-family: 'sofia-pro-regular-webfont' !important;
}
.header-button a:hover{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.discover span{
    color: #000;
    font-size: 36px;
    cursor: pointer;
    font-family: Sofia-Pro-Bold;
}
.discover span:hover{
  text-decoration: underline;
}
.candidate{
    cursor: pointer;
    border: 1px solid #DEDEDE;
    border-bottom: 6px solid #00B929;
}
.candidateCard:hover{
    /*background-color: rgba(244, 244, 244, 0.27);*/

    background-color: #f9f9f9;
}
.paddingFooter {
    padding-left: 14%;
    padding-right: 21%;
}
.candidateBox{
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 1%;
}
.candidateCard{
    border: 1px solid #DEDEDE;
    border-bottom: 6px solid #00B929;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.candiddateProfilePic{
    width: 130px !important;
    object-fit: cover !important;
    margin: 0 auto;
    /* margin-left: 10px !important; */
    margin-bottom: 29px !important;
    margin-top: 28px !important;
    object-position: 0 0 !important;
    height: 130px !important;
    border-radius: 50% !important;
}
.candidateCard div{
    font-family: Sofia-Pro-Medium;
    font-size: 18px;
}
.candidateCard p{
    font-family: sofia-pro-regular-webfont;
    font-size: 15px;
    margin: 5px 0px 5px;
}
.candidateCard label{
    font-family: sofia-pro-regular-webfont;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 30px;
}
.discover2 span{
    color: #000;
    font-size: 18px;
    font-family: SF-UI-Display-Medium;
}

.page-heading a{
    color: #000000b3;
    position: absolute;
    right: 0px;
    font-size: 18px;
    line-height: 51px;
    font-family: "SF-UI-Display-Medium";
}
.search-text{
    color: #fff;
    /*font-family: 'Sofia-Pro-Medium';*/
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
}
input[type="text"]{
    /*margin-left: -6px;*/
    
}
.success-btn{
    border-radius: 0px 4px 4px 0px;
    width: 100%;    
    background-color: #00B929;
    margin-left: -12px;
}
.image-upload > input{
    display: none;
}

.image-upload img{
	margin-top: 50px;
    cursor: pointer;
    margin-bottom: 30px;
}
.upload_cv a {
    font-family: SF-UI-Display-Medium;
    font-size: 18px;
    background-color: #0039A5;
    padding: 13px 35px!important;
    border-radius: 3px;
    color: white;
    /*padding: .5em;*/
  }
.upload_cv a:hover {
    background-color: #003480;
  }
.post_new_job{
    margin-bottom: 70px;
}.upload_cv{
    margin-bottom: 70px;
}
  .post_new_job a{
    background-color:#00B929;
      font-family: SF-UI-Display-Medium;
      font-size: 18px;
      padding: 13px 35px!important;
      border-radius: 3px;
      color: white;
  }
  .owl-item:hover{
      background-color: #f9f9f9;
  }.owl-item{
      cursor: pointer;
  }
.post_new_job a:hover{
    background-color: #009127;
  }
 .card-body ul{
      width: 100%;
      margin: 0 auto;
      margin-top: 12px;
      margin-bottom: 48px;
      font-family: 'SF-UI-Display-Regular', sans-serif;
      line-height: 30px;
      font-size: 16px;
  }
  .postNewJob{
      margin-bottom: 45px;
  }
.card-body h3{
    font-family: 'SF-UI-Display-Bold';
    font-weight: bold;
    font-size: 28px !important;
}

.card-body ul {
    list-style-image: url(../images/list-icon-diamond-blue.png);
    text-align: left;
}

.card-body .clr-grn {
    list-style-image: url(../images/list-icon-diamond.png);
    text-align: left;
}



.popular-block{
    padding: 15px;    
    padding-top: 25px;    
    border: 1px solid #ded8d8;
    border-radius: 10px;
    margin-bottom: 28px;
}

.popular-block h5 {
    font-size: 15px;
    font-weight: bold;
}


/*popular block hover effect*/

.grow, .popular-block{
transition: 1s ease;
}

.grow, .popular-block:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}

.industry_icon{
    width: 60px;
    height: 60px;
}

.popular-block:hover .popular-block-heading {
    color: #1515a6e6;
}


.popular-block:hover .popular-block-description {
    color: #1515a6e6;
}

.popular-block {
  position: relative;
  /*width: 100%;*/
  height: 200px;
}

.image-overlay {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
 /* background-color: #ECEBEB;*/
 background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .6s ease;
}

.popular-block:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text-overlay {
  color: white !important;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*popular block hover effect*/

/*.popular-block{
    padding: 15px;
    padding-left: 40px;
    padding-top: 25px;
    top: 10px;
}
.popular-block h5 {
    font-size: 15px;
    font-weight: bold;
}*/
.popular-block:hover {
    -webkit-animation: shadowFade 1s;
    box-shadow: 0 0 25px rgba(0,0,0,0.17);
    border-color: transparent;
}

/*@-webkit-popular-block shadowFadeOut {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}*/




.dot-blue {
    border-radius: 50px;
    background: #0039A5;
    padding: 15px;
    width: 0.5em;
    height:0.5em;
}
.imgWhoru{
    width: 67%;
}
.bckclrWhoru{
    background-color: #F2F2F2;
}
.mrgnTpwhoru{
    margin-top: 70px;
}
.dot-green {
    border-radius: 50px;
    background: #00B929;
    padding: 15px;
    width: 0.5em;
    height:0.5em;
}
.dot-red {
    border-radius: 50px;
    background:#FF0C2E;
    padding: 15px;
    width: 0.5em;
    height:0.5em;
}
.dot-skyblue {
    border-radius: 50px;
    background:#00B9F5;
    padding: 15px;
    width: 0.5em;
    height:0.5em;
}
.top-candidate a{
    background-color: #00B929;
    border-radius: 5px;
    padding: 5px 35px;
    color: #fff;
    line-height: 5;
    text-decoration: none;
    font-family: "sofia-pro-regular-webfont";
    font-size: 16px;
    cursor: pointer;
}
.top-candidate a:hover{
    color: #fff;
    background-color: #449d44;
}
#top-candidates{
    overflow-x: hidden;
}
.owl-item img{
    /* width: 60%!important; */
    height: 100px;
    object-fit: cover !important;
}
.owl-item{

}
.top-candidate{
    border: 1px solid #B2B2B2!important;
    border-bottom: 6px solid #0039A5!important;
}

.owl-nav{
    margin: 60px!important;
}
.owl-prev{
    margin: 10px!important;
}
.item h5{
    color: black;
    font-size: 16px;
    font-family: Sofia-Pro-Medium
}
.view-all{
    margin: 0px 0px 12px;
}
.view-all a{
    /*text-decoration: none;*/
    color: #000000b3;
    line-height: 4;
    padding: 2px;
    font-family: "SF-UI-Display-Medium";
    font-size: 18px;
}

.footer-menu-text h4, h5{
    font-family: sofia-pro-regular-webfont;
    font-size: 18px;
    color: #FFF;
    margin-bottom: 10px;
}

.sliderHeader {
    font-family: "Sofia-Pro-Medium";
    font-size: 17px;
    height: 40px;
}

.sliderDesc{
    font-family: "Sofia-Pro-Medium";
    font-size: 16px;
}

.footer-menu-text{
    margin-top: 46px;
}

.move-left{
    margin-left: 14px;
    font-size: 14px;
   font-weight: normal;
}

.hr-line{
    border-bottom: 1px solid white;
    padding: 0px 0px 18px;
    font-size: 16px;
    font-family: sofiapro-light;
}

.footer-menu ul{
      list-style-type: none;
      line-height: 26px;
      padding-left: 0;
}
.footer-menu ul li{
    list-style-type: none;
    margin: 0px 0px 5px;
}
.footer-menu ul li a {
    font-size: 16px;
    color: #fff;
    font-family: sofiapro-light;
    text-decoration: none;
}
.copyright{
    margin: 50px 0px 20px;
    font-family: SF-UI-Display-Light;
    font-size: 16px;
    color: white;
}

.footer-social ul li {
list-style-type: none;
float: left;
padding: 0px 6px;
}

.footer-social ul li i{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.verticalAlign{
    margin-top: 20px;
}
.imgJobs{
    height: 125px;
    object-fit: cover !important;
}
.footer-social ul{
    padding: 0;
}
.paddingJobs{
    padding-left: 10%;
    padding-right: 10%;

}
.paddingPremiumJobs{
    padding: 5%;
    padding-right: 11%;
}

.premium-job-pannel{
    /*padding: 4p/x;*/
    /*margin: 14px;*/
    border-radius: 20px;
    border: 1px solid #ded8d8;
    margin-bottom: 10px;
    cursor: pointer;
    height: 170px;
    
}
/*.premium-job-pannel:hover{
    /*padding: 4p/x;*/
    /*margin: 14px;
    background-color: #f9f9f9;
    border-radius: 20px;
    border: 1px solid #ded8d8;
    margin-bottom: 10px;

}
*/
.premium-job-pannel h4{
    font-size: 18px;
    line-height: 21px;
    color: #000;
    margin-top: 0px;
    margin-bottom: 11px;
    line-height: 12px;
    font-family: sofia-pro-regular-webfont;
}
.locationIcon{
    margin-right: 3px;
    top: 5px;
    left: 1px;
    position: absolute;
}

.premium-job-pannel p{
    color: #919191;
    font-size: 16px;
    /*font-weight: bold;*/ 
    margin-right: 24px;
    font-family: Sofia-Pro-Medium;
}
/*.premium-job-pannel .location{
    font-family: Sofia-Pro-Medium;
    font-size: 16px;
    position: relative;
    margin-left: 5px;

}.premium-job-pannel .location span{
    font-family: Sofia-Pro-Medium;
    font-size: 16px;
    position: relative;
     margin-left: 13px;
}*/
.loacation-img{
    content: url(../images/location-icon.png);
}
.doller{
    vertical-align: middle;
}
.doller-img{
   content: url(../images/doller.png);
}
.mrgnBtm15{
    margin-bottom: 15px;
}
.mrgnBtm25{
    margin-bottom: 25px;
}
.mrgnRyt25{
    padding-right: 7.5px !important;
}
.mrgnlft25{
    padding-left: 7.5px !important;
}
.logoContainer{
    text-align: center;margin-top: 15px;
}
.width100{
    width:100%;
}
.logoImgJobs{
    height:120px;;
}

.latest-job-pannel{
    padding: 4px;
    margin: 0px;
    border-radius: 20px;
    border: 1px solid #ded8d8; 
    height: 220px;
    cursor: pointer;
}
/*.premium-job-pannel{
    padding: 4px;
   /* margin: 0px;
    border-radius: 20px;
    border: 1px solid #ded8d8;
    height: 195px;
    cursor: pointer;
}*/

/*.premium-job-pannel{
    padding: 4px;
    margin: 14px;
     height: 170px;
    border-radius: 20px;
    border: 1px solid #ded8d8;
    
}*/

/*.premium-job-pannel h4{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
}

.premium-job-pannel p{
    color: #aaa!important;
    font-weight: normal;
    font-size: 13px;
    margin-right: 24px;
}*/

.premium-job-logo{
    margin-top: 10px;
    width: 180;
    height: 135;
}

.premium-job-heading{
    margin-top: 22px !important;
}



.loacation-img{
    content: url(../images/location-icon.png);
}
.doller{
    vertical-align: middle;
}
.doller-img{
   content: url(../images/doller.png);
}


.skill-btn{
    line-height: 0 !important;
    border: 1px solid #00B9F5 !important;
    background-color: #fff;
    height: 23px;
    border-radius: 30px !important;
    font-size: 12px;
    margin-right: 4px;
    padding: 0px 15px;
    color: #00B9F5;

}

.skill-btn:hover{
    color: #00B9F5;
}



.latest-job-pannel p{
    color: #919191;
    font-weight: normal;
    font-size: 16px;
    font-family: sofia-pro-regular-webfont;
    position: relative;
    margin-right: 12px;
}

/*.premium-job-pannel p{
    color: #919191;
    font-weight: normal;
    font-size: 16px;
    font-family: sofia-pro-regular-webfont;
    position: relative;
}*/
 .heightRsp{
     height: 191px !important;
 }
.nameLoc{
    margin-left: 15px;
    font-family: Sofia-Pro-Medium;
}

.latest-job-pannel h4{
    font-size: 18px;
    color: #000;
    font-family: sofia-pro-regular-webfont;

}

/*.premium-job-pannel h4{
    font-size: 18px;
    font-family: sofia-pro-regular-webfont;

}
*/
.arrows{
    margin-bottom: 40px;
}

.details .location{
    margin-bottom: 10px;
}

.location {

    color: #00B929 !important;
    font-weight: 500;
    float: left;
    margin-bottom: 22px;

}

.doller{
    margin-left: 33px;
}

/*.skill-btn{
    line-height: 0;
    border: 1px solid #404040;
    background-color: #fff;
    height: 23px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 4px;
    font-family: sofiapro-light;
}*/
.responsive-container {
    position: relative;
    width: 100%;
    border: 1px solid black;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

.price{
    color: #0039A5 !important;
    font-weight: bold !important;
    letter-spacing: 1px;
    text-align: left;
    font-size: 12px !important;
    margin-left: -35px;
    
}
.details{
    margin-top: 20px;
}

.premium-job-details{
    margin-top: 0;
}

.time{
    color: #646464;
    /*font-weight: bold;*/
    /*letter-spacing: 1px;*/
    font-family: 'sofia-pro-regular-webfont';
    font-size: 14px !important;
    margin-top: 2px;
}


.skill-btn-Design{
 line-height: 0 !important;
    border: 1px solid #00B9F5 !important;
    background-color: #fff;
    height: 24px;
    border-radius: 30px !important;
    margin-left: 15px;
    font-size: 14px;
    font-family: sofiapro-light;
    margin-right: 4px;
    color: #00B9F5;

}.skill-btn-Design:hover{
 line-height: 0;
    border: 1px solid #00B9F5;
    color: #00B9F5;

}
.mrgnlft0{
    margin-left: 0px;
}
.skill-btn-Ui{
    line-height: 0 !important;
    border: 1px solid #00B9F5 !important;
    background-color: #fff;
    height: 24px;
    border-radius: 30px !important;
    font-size: 14px;
    font-family: sofiapro-light;
    margin-right: 4px;
    color: #00B9F5;

}.skill-btn-Ui:hover{

    border: 1px solid #00B9F5;
    color: #00B9F5;

}
.page-headingTc{
     padding: 15px 0px 12px;
     /* margin-bottom: -40px; */
     text-align: center;
 }
.skill-btn-Web{
 line-height: 0 !important;
    border: 1px solid #00B9F5 !important;
    background-color: #fff;
    height: 24px;
    border-radius: 30px !important;
    font-size: 14px;
    font-family: sofiapro-light;
    margin-right: 4px;
    color: #00B9F5;

}
.skill-btn-Web:hover{
 line-height: 0;
    border: 1px solid #00B9F5;
    color: #00B9F5;

}

.skill-btn:hover{
    color: #00B9F5;
}

.skill-btn-green{
    line-height: 0;
    border: 1px solid green;
    background-color: #fff;
    height: 23px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 4px;
}
.skill-btn-red{
    line-height: 0;
    border: 1px solid green;
    background-color: #fff;
    height: 23px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 4px;
}
.skill-btn-blue{
    line-height: 0;
    border: 1px solid green;
    background-color: #fff;
    height: 23px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 4px;
}
.popular-block h5{
    color: #1515a6e6;
    font-family: Sofia-Pro-Semi-Bold;
    font-size: 18px;
}
.popular-block p{
    color: #1515a6e6;
    font-family: sofiapro-light;

    font-size: 16px;
}
.popular-block label{
     border: 1px solid black;
     width: 40%;
     margin-bottom: 10px;
 }
.cursorPointer{
    cursor: pointer;
}
.padding6{
    padding: 6%;
}
.padding10{
    padding: 10%;
}

/*hr.style-two { 
    border: 0; height: 1px; 
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); 
}*/

hr.style-one { 
    border: 0; 
    height: 1px; 
    background: #FFF; 
    background-image: linear-gradient(to right, #ccc, #333, #ccc); 
}
.latest-job-pannel:hover{
    background-color: #f9f9f9;
}
.premium-job-pannel:hover{
    background-color: #f9f9f9;
}

.pricing{
    margin-top: -48px;
}
.pricing p {
    font-weight: bold;
    letter-spacing: 1px;
    color: #0039A5 !important;

}

.pricing p img{
    padding: 0px 8px;
}

.headingPage{
    font-family: 'SF-UI-Display-Bold';
    font-size: 24px;
}
.disableAnchor{
   pointer-events: none; 
   cursor: default;
}
.no-salary-text{
    color:#919191!important
}
.marginNegative_1 {
    font-size: 13px;
    margin: -2px;
    width: 50%;
    border-color: #183785;
    color: #183785;

    font-family: 'SF-UI-Display-Bold';
}


.marginNegative.active, .marginNegative:active{
    background-color: #00b9f50f !important;
}

.marginNegative_1.active, .marginNegative_1:active{
    background-color: #00b9f50f !important;
}

.custum-banner{
    background: url(../images/registerEmployeeBanner_blue.png);
    background-color: #012377e6;
     background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    
    }
.jobseeker-banner{
    background: url(../images/Job4Gulf_Banner/register_jobseeker_banner.png);
    background-color: #012377e6;
     background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;    
}
 
.jobseeker-banner span{
     font-family: "SF-UI-Display-Light" !important;
    font-size: 21px !important;
   /* line-height: 342px !important;*/
    letter-spacing: 0.02em !important;
    color: #FFF !important;
    text-align: center;
}

.employers-banner{
    background: url(../images/Job4Gulf_Banner/register_employer_banner.png);
    background-color: #012377e6;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

.employers-banner span {
    font-family: "SF-UI-Display-Light" !important;
    font-size: 21px !important;
   /* line-height: 342px !important;*/
    letter-spacing: 0.02em !important;
    color: #FFF !important;
    text-align: center;
}

.centered {
    position: absolute;
    top: 28%;
    left: 50%;
    text-align: center;
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    font-family: "SF-UI-Display-Bold" !important;
    transform: translate(-50%, -50%);
}
/*.bestconsultantBanner span{
    position: absolute;
    top: 33%;
    left: 41%;
    text-align: left;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    font-family: "SF-UI-Display-Light" !important;
    transform: translate(-50%, -50%);
}*/
.centered_1{
    position: absolute;
    top: 46%;
    left: 50%;
    text-align: center;
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    font-family: "SF-UI-Display-Bold" !important;
    transform: translate(-50%, -50%);
}
.hide-elem {
    display: none;
}
.padding10px {
    padding: 35px;
}

.ic_email{
    background: #fff url(../images/form_icons/ic_email_outline.png) 2px 14px no-repeat !important;
    padding: 0px 0px 0px 30px;
}

.ic_psswrd{
    background: #fff url(../images/form_icons/ic_lock_question.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px;
}
.ic_user{
    background: #fff url(../images/form_icons/ic_account.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px;
}

.ic_dob{
    background: #fff url(../images/form_icons/ic_calendar_range.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px;
}

.ic_phone{
    background: #fff url(../images/form_icons/ic_phone_classic.png) 45px 13px no-repeat !important;
    padding: 0px 0px 0px 75px !important;
}

.ic_cuntry{
    background: #fff url(../images/form_icons/ic_earth.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px !important;
}

.not-full{
    background: #fff url(../images/form_icons/ic_city.png) 2px 13px no-repeat !important;
    padding: 17px 0px 0px 30px !important;
}

.ic_nation{
    background: #fff url(../images/form_icons/ic_flag_variant.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px !important;
}

.ic_bsic_edu{
    background: #fff url(../images/form_icons/diploma.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px !important;
}

.ic_master_edu{
    background: #fff url(../images/form_icons/graduate-cap.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px !important;
}

.ic_special{
    background: #fff url(../images/form_icons/epecialization.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px !important;
}

.ic_company{
    background: #fff url(../images/form_icons/company.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px !important;
}

.ic_location{
    background: #fff url(../images/form_icons/ic_map_marker.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px !important;
}

.ic_industry{
    background: #fff url(../images/form_icons/industry.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px !important;
}

.ic_salary{
    background: #fff url(../images/form_icons/salary.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px !important;
}

.ic_function{
    background: #fff url(../images/form_icons/function.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px !important;
}

.ic_headline{
    background: #fff url(../images/form_icons/headline.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px !important;
}

.ic_po_box{
    background: #fff url(../images/form_icons/po_box.png) 2px 13px no-repeat !important;
    padding: 0px 0px 0px 30px !important;
}