
@font-face {
    src: url(../font/SF-UI-Display-Bold.ttf);
    font-family: 'SF-UI-Display-Bold';
}
@font-face {
    src: url(../font/SF-UI-Display-Regular.otf);
    font-family: 'SF-UI-Display-Regular';
}
@font-face {
    src: url(../font/Sofia-Pro-Semi-Bold.otf);
    font-family: 'Sofia-Pro-Semi-Bold';
}
@font-face {
    src: url(../font/sofia-pro-regular-webfont.ttf);
    font-family: 'sofia-pro-regular-webfont';
}
@font-face{
    src: url(../font/sofiapro-light.otf);
    font-family: 'sofiapro-light';
}
@font-face{
    src: url(../font/sofia-pro-black-webfont.ttf);
    font-family: 'sofia-pro-black-webfont';
}
@font-face{
    src: url(../font/SF-UI-Display-Light.otf);
    font-family: 'SF-UI-Display-Light';
}
@font-face{
    src: url(../font/Sofia-Pro-Medium.otf);
    font-family: 'Sofia-Pro-Medium';
}
@font-face{
    src: url(../font/SF-UI-Display-Medium.otf);
    font-family: 'SF-UI-Display-Medium';
}
@font-face{
    src: url(../font/Sofia-Pro-Bold.otf);
    font-family: 'Sofia-Pro-Bold';
}

body {
    /*min-height: 2000px !important;*/
    background-color: #F5F5F5;
    padding-top: 70px !important;
}
.nopadding{
    padding-left: 0;
    padding-right: 0;
}
.nomrgn{
    margin:0px !important;
}
.navbar-default {
    background-color: #030A63;
    border-color:#030A63;
    box-shadow: 0px 10px 20px #00000024;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0px !important;
    border-top-left-radius: 0;
    background-color: #03074399;
    border: transparent;
    border-top-right-radius: 0;
}
.modal {
    overflow-y: auto !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #030A63;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #030A63;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'SF-UI-Display-Medium';
    font-size: 16px;
}
.navbar-default .navbar-toggle {
    border-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #00B929  !important;
    background-color: transparent !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff !important;
    background-color: #19368300 !important;
    color: #00B929 !important;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #030A63;
}
.navbar-brand>img {
    display: block;
    width:75%;
}
@media (min-width: 1200px){
    .container {
        width: 1170px !important;
    }
}