@import url('font-awesome.css');


@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../font/glyphicons-halflings-regular.eot);
    src: url(../font/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../font/glyphicons-halflings-regular.woff) format('woff'), url(../font/glyphicons-halflings-regular.ttf) format('truetype'), url(../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
@font-face{ src:url('../fonts/HelveticaNeue.ttf');
 font-family: "helveticaneue";
}
}



body {
    overflow-x: hidden;
        
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    margin-top: 0px;
      font-weight:500;
   
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form,.footer-menu h4,.footer-social h4,  {

   font-family: "helveticaneue";
}

a {
    color: #318ce7;
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    list-style-type: none;
}
a:focus {
    outline: 0;
}
a:hover {
    text-decoration: none;
}
img {
    max-width: 100%;
}
p {
    margin: 0px;
}


.small-slide{    background: #5d5151;padding:25px 0px 20px;
border-bottom: 1px solid #fff;}

.logos{ padding:0px 0px;}


.logos a{    
color: black;}


.top-header{background:#000;height:50px;    width: 100%;
    float: left;}

.top-left{width:50%;float:left;}

.top-right ul{float:left;    color: #fff;}

.top-left li{padding:12px 8px;float:left;color:#fff;font-size: 15px;}

.top-right{width:50%;float:left;}


.top-right ul{float:right;    color: #fff;}

.top-right li{padding-top:12px;color:#fff;font-size: 15px;display:inline-block;}

.top-right li a{
    padding-right: 10px;
    margin-left: 10px; 
    color: #fff;
    
}



.tip li{float:left;}


.menu-bar{background:#ddd;}


.tip li a {
    color: #000;
    padding: 15px;
    font-size: 16px;
    
}


.tip .active {
    color: #fff;
   background:#000;
}


.tip .active a{color:#fff;}





#header {
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    padding: 0 0px;
    position: relative;
    z-index: 999;
}

.navbar {
    min-height: 0;
    margin-bottom: 0;
    margin-top: 0;
    border: none;
}




.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgba(255, 255, 255, 0.45);
    text-align: center;
    padding: 0px;
}



.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    
}



.navbar-nav li {
    /*padding: 0px 5px;*/
    padding: 0px 0px;
    position: relative;
}




.navbar-default .navbar-nav>li>a {
    color: #777;
}

.navbar-nav li a {
    padding: 22px 12px;
    font-size: 15px;
    
}



.navbar-nav li::after {
    content: '';
    position: absolute;
    right: -1px;
    width: 2px;
    height: 10px;
    background: #c6ccd7;
    top: 3px;
    bottom: 0;
    margin: auto;
}
.navbar-nav li.register-btn a {
    /*background: #318ce7;
    border: 1px solid #318ce7;
    color: #fff !important;
    border-radius: 5px;*/
    padding: 22px 12px;
}

.navbar-nav li.login-btn a {
   /* border: 1px solid #318ce7;
    color: #318ce7 !important;*/
   /* border-radius: 5px;*/
    padding: 22px 12px;
}


.act1{width:50%;float:left;}

.act2 {
    width: 50%;
    padding: 22px 0px 0px;
    float: right;
}



.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}


.navbar-nav li.no-vertical-line::after{
    display: none;
}







.logo
{
  filter: gray; /* IE6-9 */
 /* -webkit-filter: grayscale(1); */
   -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor:pointer;
}


.logo:hover
{
  filter: none; /* IE6-9 */
 /* -webkit-filter: grayscale(0);*/ /* Google Chrome, Safari 6+ & Opera 15+ */
}











.tab .nav-tabs {
    display: inline-block;
    background: rgba(153, 153, 153, 0.09);
    /* border-radius: 50px; */
    width: 100%;
    border: 1px solid #318ce7;
    /* border: none; */
    padding: 6px;
}
.tab .nav-tabs li{
    float: none;
    display: inline-block;
    position: relative;
}
.tab .nav-tabs li a{
    font-size: 16px;
    font-weight: 700;
    background: none;
    color: #999;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover{
    background:#318ce7;
    color: #fff;
    border: none;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
    border: none;
    background: #318ce7;
    color: #fff;
}
.tab .tab-content{
    font-size: 13px;
    color: #999898;
    line-height: 25px;
    background: #fff;
    padding: 20px;
    border: 1px solid #318ce7;
    border-top: none;
}
.tab .tab-content h3{
    font-size: 24px;
    color: #999898;
    margin-top: 0;
}
@media only screen and (max-width: 480px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
    }
    .tab .nav-tabs li.active a,
    .tab .nav-tabs li.active a:after,
    .tab .nav-tabs li.active a:hover{
        border: none;
    }
}



.taber{padding:30px 0px 30px;}

.xop li i {
    float: left;
    margin-top: 5px;
    color: #318ce7;
    margin-right: 12px;
    height: 100%;
}


.copy {
    background: #000;
    padding: 15px;
    color: #fff;
    border-top: 1px dotted #fff;
    text-align: center;
}

.cater li i {
    color: #318ce7;
    font-size: 12px;
    margin-right: 5px;
}

.cater li{    padding: 3px 3px;}

#footer {
    background: #f0f0f7;
    padding: 25px 0px;
    position: relative;
    z-index: 1;
    width: 100%;
    float: left;
}


.footer-menu h4 {
    border-bottom: 2px solid #d4d8e2;
    font-size: 14px;
    font-family: "helveticaneue";
    padding-bottom: 22px;
    margin-bottom: 20px;
    color: #a59d9d;
}

.footer-menu-more a {
    /*background: url(../images/arrow-right.png) no-repeat right 7px;*/
    color: #26a3f7 !important;
    font-size: 16px !important;
    padding-right: 45px;
    /*text-decoration: underline;*/
    margin-top: 10px;
    display: inline-block;
}
.footer-social h4 {
    border-bottom: 2px solid #d4d8e2;
    font-size: 14px;
    font-family: "helveticaneue";
    padding-bottom: 22px;
    margin-bottom: 20px;
    color: #a59d9d;
}

.carr{margin:0px 0px 150px;}

#footer::before {
    content: '';
    background: none;
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 170px;
    background-size: 110%;
    left: 0;
}

.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}


.footer-bottom ul li {
    display: inline-block;
    padding: 2px 10px;
}

.nopadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}



.footer-bottom ul li a {
    color: #8c96a9;
    font-size: 16px;
}




.footer-bottom ul li:first-child {
    padding-left: 0px;
}

.footer-bottom {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    margin: 25px 30px 0px 30px;
}

.footer-menu ul li {
    margin: 10px 0px;
}

.footer-menu ul li a {
    font-size: 14px;
    color: #8c96a9;
}

.footer-menu ul li a {
    font-size: 14px;
    color: #8c96a9;
}



.foll li {
    float: left;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50px;
    height: 35px;
    transform: rotate(45deg);
    margin: 5px 2px;
    background: #318ce7;
}

.foll h5 {
    color: #fff;
    margin: 10px 0px 12px;
    padding: 0px 0px 10px;
    border-bottom: 1px dotted #fff;
    width: 80%;
}

.cater h3 {
    color: #fff;
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px dotted #fff;
    width: 80%;
}


.foll li i{color:#fff;transform: rotate(-45deg);font-size:18px;}


.thrs{margin:25px 0px;}


.d-links li:first-child a{
    border-left: 1px solid #fff;
}

.cosal{color: #fff;margin-top:18px;
    padding-bottom: 15px;
}


.home-newsletter {
padding: 20px 0;
background: #f84e77;
}

.home-newsletter .single {
max-width:100%;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h2 {
font-size: 22px;
color: white;
text-transform: uppercase;
margin-bottom: 40px; }
.home-newsletter .single .form-control {
height: 50px;
background: rgba(255, 255, 255, 0.6);
border-color: transparent;
border-radius: 20px 0 0 20px; }
.home-newsletter .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
.home-newsletter .single .btn {
min-height: 50px; 
border-radius: 0 20px 20px 0;
background: #243c4f;
color: #fff;
}


.bac{color:#fff;background:#000;border-radius:0px;}



.refer ul{margin:0px;padding:0px;}

.refer li{float:left;list-style-type:none;    padding: 7px 12px;
    background: #318ce7; margin-right: 5px;color:#fff;
    border-radius: 5px;}


.refer li a {
    color: #fff;
   
}


.acds{background-image:url("../images/job.jpg");width:100%;height:400px;background-size:cover;margin-bottom:200px;}

.waz{margin-top:20px;    margin-bottom: 20px;}


.cart:after {
    content: "\f07a";
    text-align: center;
    padding: 5px;
    width: 41px;
    height: 41px;
    font-size: 18px;
    background: #000000;
    color: #fff;
    font-family: FontAwesome;
    position: absolute;
    top: -1px;
    right: -1px;
}

.cart {
    height: 40px;
    margin: 28px 0px;
    width: 100%;
    border: 1px solid #eaeaea;
    display: block;
    position: relative;
    padding: 8px 27px 0 15px;
}

.zero {
    position: relative;
    top: -23px;
    z-index: 999;
    width: 30px;
    height: 20px;
    padding: 4px 11px;
    border-radius: 46px;
    background: #cbcdcc;
    right: -85px;
}

.login{padding:30px ;}

.account-wall input{border-radius:50px;}

.signs {
    margin: 30px auto 60px;
    background: #ddd;
  padding: 15px 15px 25px;
}



.signs h3{color: black;
    width: 30%;
    text-align: center;
    margin: 8px auto 23px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #000;
}


.signs .checkbox, .radio {
    position: relative;
    display: block;margin-top:0px;
    margin-left: 21px;
    margin-bottom: 10px;
}

.btn-block {
    display: block;
    width: 30%;
    margin: 0 auto;
    /* border-top: 1px dotted; */
    border-radius: 0px;
    background: black;
}












.heads{text-align: center;    font-weight: 600;
    padding: 10px;
    border-top: 1px dotted #000;
    width: 22%;
    font-size: 23px;
    border-bottom: 1px dotted #000;
    margin: 35px auto;
}

.star{padding:10px 0px;    float: left;}

.star li{float:left;}


.star li i {
    color: #eabd0f;
}

.post-slide:hover {
      background: rgba(221, 221, 221, 0.56);
}

.post-slide {
    padding-bottom: 10px;
    margin: 0 15px;float:left;
    padding: 0px 15px 15px;
    position: relative;
}
.post-slide img{
    width: 100%;
    height: auto;
}
.post-slide .post-date {
    position: absolute;
    top: 1%;
    left: 0%;
    /* width: 100%; */
    padding: 2% 2%;
    /* transform: rotate(-36deg); */
    background: #009bc7;
}
.post-slide .month{
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    text-transform:uppercase;
}
.post-slide .month:after{
    content:"";
    display: block;
  
}
.post-slide .date{
    font-size: 14px;
    color:#fff;
    display: block;
    text-align:center;
    font-weight: bold;
}
.post-slide .post-title{
    margin:25px 0 15px 0;
}
.post-slide .post-title a{
    font-size:15px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:uppercase;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    text-decoration: none;
    color:#e74c3c;
}
.post-slide .post-description{
    font-size: 14px;
    line-height:24px;
    color:#808080;
}
.post-slide .read-more {
    background: #000;
    color: #fff;
    margin-top: 10px;
    padding: 8px 3px;
    text-transform: capitalize;
    transition: color 0.20s linear;
}
.post-slide .read-more i{
    margin-left:10px;
    font-size:10px;
}
.post-slide .read-more:hover{
    text-decoration:none;
    color: #fff;
}
.owl-controls .owl-buttons{
    margin-top:20px;
    position:relative;
}
.owl-controls .owl-prev{
    position: absolute;
    left: -40px;
    bottom: 230px;
    padding: 8px 17px;
    background:#333;
    transition:background 0.50s ease;
}
.owl-controls .owl-next{
    position: absolute;
    right: -40px;
    bottom: 230px;
    padding:8px 17px;
    background:#333;
    transition:background 0.50s ease;
}
.owl-controls .owl-prev:after,
.owl-controls .owl-next:after{
    content:"\f104";
    font-family: FontAwesome;
    color: #d3d3d3;
    font-size:16px;
}
.owl-controls .owl-next:after{
    content:"\f105";
}
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover{
    background: #e74c3c;
}
@media only screen and (max-width: 990px) {
    .post-slide{
        margin: 0 20px;
    }
    .owl-controls .owl-buttons .owl-prev{
        left:-20px;
        padding:5px 14px;
    }
    .owl-controls .owl-buttons .owl-next{
        right:-20px;
        padding:5px 14px;
    }
}
@media only screen and (max-width: 767px){
    .owl-controls .owl-buttons .owl-prev{
        left:0px;
        bottom: 260px;
    }
    .owl-controls .owl-buttons .owl-next{
        right:0px;
        bottom: 260px;
    }
}

























.sec h5{font-size:18px;margin:10px 0px 5px;}

.sec p{margin:7px 0px 10px;}

.sec a{margin:5px 0px;}

.azx a{background:#000;padding:5px 8px;color:#fff;}


.tot {
    width: 100%;
    height: 100%;margin:3px 0px;
    background: #ffffff;
    float: left;
    box-shadow: 1px 1px 3px #000;
}


.fir{float:left;width:50%;} 

.sec{float:right;width:50%;} 



.carousel-inner.vertical {
  height: 490px;
}
.carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right {
    -webkit-transform: translate3d(0, 33.33%, 0);
    transform: translate3d(0, 33.33%, 0);
    top: 0;
  }
  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left {
    -webkit-transform: translate3d(0, -33.33%, 0);
    transform: translate3d(0, -33.33%, 0);
    top: 0;
  }
  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
  }
}

.carousel-inner.vertical > .active {
  top: 0;
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
.carousel-inner.vertical > .next {
  left: 0;
  top: 33.33%;
  right:0;
}
.carousel-inner.vertical > .prev {
  left: 0;
  top: -33.33%;
  right:0;
}
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
  top: 0;
}
.carousel-inner.vertical > .active.left {
  left: 0;
  top: -33.33%;
  right:0;
}
.carousel-inner.vertical > .active.right {
  left: 0;
  top: 33.33%;
  right:0;
}

#carousel-pager .carousel-control.left {
    bottom: initial;
    width: 100%;
}
#carousel-pager .carousel-control.right {
    top: initial;
    width: 100%;
}










.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}





.top-ser{padding:30px 0px;}






 .top-ser input{   background: #dddddd;
 border-radius: 0px;}





.srs {
    width: 50%;
    float: left;
}

 
 
 
 .frs {
    width: 50%;
    float: left;
}
 
 .regs {
    background: #edeff1;
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px 10px;
    margin-bottom: 40px;
}
 
 
 .tab_container {
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
    position: relative;
}

 .tab_container  input {
  clear: both;
  padding-top: 10px;
  display: none;
}

  .tab_container  label {
  font-weight: 400;
  font-size: 18px;
  display: block;
  float: left;
  width: 20%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #0CE;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  label span {
    display: none;
  }

  label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
 
 
 #content2 .btn-block {
    display: block;
    width: 100%!important;
    margin: 0 auto;
    /* border-top: 1px dotted; */
    border-radius: 0px;
    background: black;
}
 
 
 
 .banner1 {
    background-image: url(../images/banner1.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}



.banner2 {
    background-image: url(../images/banner2.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
 
 
 
 
 
 
 .banner3 {
    background-image: url(../images/banner3.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
 
 
 .banner4 {
    background-image: url(../images/banner4.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}


.banner5 {
    background-image: url(../images/banner5.jpg);
    width: 100%;padding: 150px 0px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
 
  .shopnow {
    background-image: url(../images/banners.jpg);
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}
 
 
.shopnow h1 {
    padding: 40px 10px;
    color: #fff;
    text-align: center;
    font-size: 62px;
}
  
  .sux .os{
  padding: 10px;}
 
  .sux .os:hover{border: 1px dotted #000;
  padding: 10px;}
 
 .sux i{font-size:50px;text-align:center;    width: 100%;}
 
  .sux {padding:30px 0px;}
 
 .sux h2{text-align:center;padding:7px 0px;}
 
 .sux h4{text-align:center;}
 
 .sux p{ text-align:center;}
 
 
 
 
 
 
 
 
 
.pct li {
    /* display: inline-block; */
    padding: 10px 0px;
    /* width: 100%; */
    /* float: left; */
}
 
 
 .shakes{padding:40px 0px 20px;}
 

 
 .detal{padding:70px 0px 20px;}
 
 
 
 .tab-content{
    display: block;
    padding: 20px;
    background: #fff;
}
 
 
 
.detal .item .thumb {
    width: 25%;
    border: 1px dotted #000;
    cursor: pointer;
    float: left;
}

.detal .item img {width: 100%;  }
 
.detal .item .thumb img {
    width: 100%;    
}


 
 
 
 .preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
   /* -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;*/
            /*animation-duration: .3s;*/ }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;border-left: 1px dotted #fff;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
    padding: 10px 0px;
    border-bottom: 1px dotted #000;
}

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

    
    .review-block-rate {
    font-size: 13px;
    margin-bottom: 15px;
}
    
    .review-block img{    width: 50px;
    height: 50px;}
    
    
    .review-block-name {
    font-size: 12px;
    margin: 10px 0;
}
    
    .review-block-date {
    font-size: 12px;
}
    .review-block-description {
    font-size: 13px;
}

.content-wrapper{background:#ddd;padding:25px;}

.review-block {
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}
    
.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
            
            
            
            
            
            
            
            
            
            
            
            
            .form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
 
 
 .acc{padding:50px 0px 50px;}
 
 
 div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}
 
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #000000;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #000000;
  background-image: #000000;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #000000;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
}



.bhoechie-tab-content .btn-block {
    display: block;
    width: 100%;
    margin: 0 auto;
    /* border-top: 1px dotted; */
    border-radius: 0px;
    background: black;
}


.chk{padding:50px 0px;}


.chk legend{text-align:center;}


.chk h5{text-align:center;}
.chk p{text-align:center;}



.media-left, .media>.pull-left {
    margin-right: 20px;
}





@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}
    
.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg 
    opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}           

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

    
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }       
}






.in-ban {
    background-image: url(../images/bans.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}



.ban-head {
    color: #f5f9fc;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;text-align:center;
    text-shadow: 1px 1px 5px #013b83;
    padding: 70px 0px;
}

.contact_page_form label {
    font-weight: normal;
    text-align: left;
    width: 100%;
}


.contact_page_form input {
    width: 100%;
    padding: 5px;
    border: 1px solid #B9B9B9;
}

.contact_page_form textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #B9B9B9;
}

.contact_us_sec {
    padding: 20px 0px 30px;
}

.message_now_area {
    position: relative;
    z-index: 1;
}

.contact_sec_info {
    background: #f3f3f3;
    border: 10px double #fff;
    padding: 15px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.contact_sec_info h3 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #013a83;
}


.contact_sec_info li {
    float: left;
    list-style-type: none;line-height: 36px;
    width: 100%;
    text-align: left;
}


.contact_sec_info li a{color:#000;
}



.contact_sec_info i {
    float: left;
    margin-right: 10px;
    color: #000000;
    width: 35px;
    height: 35px;
    border: 2px solid rgb(0, 0, 0);
    line-height: 35px;
    text-align: center;
    margin-bottom: 15px;
}


.contact_sec_info p {
    color: #333;
    margin-bottom: 0px;
    line-height: 35px;
    font-size: 16px;
}

.contact_page_form {
    background: #f3f3f3;
    padding: 24px 20px 15px;
}


.contact_page_form h3 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #013a83;
}

.contact_page_form fieldset {
    margin-bottom: 15px;
}




.banner5 .form-group {
    margin:0;
    padding:20px ;

    &:first-child { border-color: transparent; }
}

.banner5 .form-control {
  padding: 0px 10px 0 20px;
  margin-top: 10px;
  color: #333;
  font-size: 28px;
  font-weight: 500;
    border: 3px solid #555;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:60px;
    height: auto;
    border-radius: 50px 0  0 50px !important;
}
.banner5 .form-control :focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: transparent;

    }

.banner5 #searchbtn
{ border:0;
  padding: 0px 10px;
  margin-top: 10px;
  color: #fff;
  background:#888;
  font-size: 27px;
  font-weight: 500;
    border: 3px solid #555;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:60px;
    height: auto;
border-radius: 0 50px 50px 0 !important;
}


.fbs {
       width: 100%;
    background: #3b5998;
    color: #fff;font-size:15px;
    border-radius: 0px;
    margin: 15px 5px 0px;
}

.tws{
      width: 100%;
    background:#00aced;font-size:15px;
    color: #fff;
    border-radius: 0px;
    margin: 15px 0px 0px;
}

.gps {
        width: 100%;
    background:  #dd4b39;font-size:15px;
    color: #fff;
    border-radius: 0px;
    margin: 15px 25px 0px 0px;
}



.cary{background: black;
    float: left;
    width: 90%;
}


.cary li {
    list-style-type: none;
    padding: 10px 15px;
    border-bottom: 1px dotted #fff;
    text-align: center;
}

.sec-head {
    font-size: 25px;
    text-transform: capitalize;
    color: #0e0e0e;
    font-weight: 600;
}

.cary li a{color:#fff;}

.priv h4 {
    text-align: left;
}


.priv p {
    text-align: left;
    line-height: 24px;    margin-bottom: 22px;
}



.priv i {
    color: #000;
    font-size: 17px;
    margin-right: 8px;
}

.terms p {
    text-align: left;
    line-height: 24px;    margin-bottom: 22px;
}
.terms i {
    color: #000;
    font-size: 17px;
    margin-right: 8px;
}


.wills{margin:0px 0px 30px;}

.priv{padding:30px 0px;}

.about{padding:30px 0px;}

.terms{padding:30px 0px;}

.at{padding:10px 0px 30px;}

.ptn {
    background: #ddd;
    border: 8px double white;
}

.ptn p{padding:15px;text-align:justify;margin:15px 0px;}


.mens ul{margin:0px 0px;}


.mens li{float:left;padding:0px 18px;border-right:1px solid #000;}


.mens {padding:15px 0px;    float: right;}



.mens li a {
    color: #555;
    font-size: 15px;
}



.emp{border:0px!important;}


.entry {
    padding: 15px 0px;
}


.entry 
    a {
    border: 1px solid #318ce7;
    color: #318ce7 !important;
    border-radius: 5px;
    padding: 10px 25px;

}


.omp{   padding: 0px 5px;border-right:0px!important;
    position: relative;}
    
.omp a{ border: 1px solid #318ce7;
    color: #318ce7 !important;
    border-radius: 5px;
padding: 10px 25px;}

.pmp{padding: 0px 5px;
    position: relative;border-right:0px!important;
}

.pmp a {
    background: #318ce7;
    border: 1px solid #318ce7;
    color: #fff !important;
    border-radius: 5px;
    padding: 10px 25px;
}



.sec-header{-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);    padding: 23px 0px;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);}



.com {
    position: relative;
    text-align: right;
    height: 80px;
}
.table-cell-div img.center-block{
    height: 62px;
    width: 62px;
}

.con {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    padding: 0px 5px 14px;
    float: left;
    margin: 0px -2px;
    width: 100%;
}


.con h2 {font-size:23px;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 4px double #318ce7;
}

.con ul{padding:0px;margin:0px;}



.con h4 {
    width: 60%;margin:22px 0px 10px;
    text-align: center;
    padding: 5px 0px;
    left: -5px;
    position: relative;
    color: #fff;    border-radius: 15px;
    background: #318ce7;
}



.con ul li i{
    font-size: 18px;
    color: #318ce7;
margin-right: 10px;}

.con ul li {
    padding: 9px 4px;font-weight:600;
    border-bottom: 1px dotted #318ce7;font-size:14px;
    /* margin-right: 10px; */
}


.con ul li a {
    color: #333;font-weight:500;
    font-size: 14px;
}


.views {
    box-shadow: 0px 0px 5px #d0c8c8;
    float: left;padding:12px 12px 20px;
    margin: 35px 0px 25px;
}

.views p {
    text-align: justify;
    background: rgba(222, 219, 219, 0.54);
    padding: 10px;
}


.hide {
  display: none;
}





.con h5 {margin:20px 0px 10px;
    width: 60%;
    text-align: center;
    padding: 5px 0px;
    left: -5px;font-size:18px;
    position: relative;
    color: #fff;    border-radius: 15px;
    background: #318ce7;
}



.con p{text-align:justify;padding:5px 10px;}


.tork {
    text-align: center;
    position: relative;
    padding: 8px 7px;
    font-size: 25px;    border-radius: 35px;
    width: 60%;
    background: #318ce7;
    margin: 0 auto;
    color: #fff;
}




.views:hover{padding:5px 5px 20px;background: rgba(204, 204, 204, 0.25);}

.views:hover p{background: #fff;padding:12px;}

.shakes h5 {
    position: relative;
    margin: 15px 15px 20px;
    background: #318ce7;
    width: 16%; border-radius: 35px;
    color: #fff;
    padding: 10px 15px;
    text-align: left;
    font-size: 20px;
}





.read-more, .read-less {
  cursor: pointer;
}
.label-default {
  font-size: 16px !important;
}



.read-more span {
    color: #318ce7;
    margin-right: 10px;
}


.read-less span {
    color: #318ce7;
    margin-right: 10px;
}




.maj h5 {
    position: relative;
    margin: 15px 0px 20px;
    background: #318ce7;
    width: 16%;
    color: #fff; border-radius: 35px;
    padding: 10px 15px;
    text-align: left;
    font-size: 20px;
}





.baj li{padding:6px 0px;}



.baj li i{color: #318ce7;
    margin-right: 8px;
}


.d-links {
    width: 100%;
    margin: 20px 0px 0px;
    /* clear: both; */
    float: left;
}


.d-links ul {
    padding: 0px;
    margin: 0 auto;
    width: 75%;
   
}

.d-links li {
    float: left;
}




#accordion .panel{
    border-radius:0;
    margin-bottom:15px;
}
#accordion .panel-heading{
    padding:0;
}
#accordion .panel-title{
    position: relative;
}
#accordion .panel-title:before{
    content: "";
    border-bottom: 25px solid rgba(0, 0, 0, 0);
    border-left: 15px solid #eee;
    border-top: 23px solid rgba(0, 0, 0, 0);
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 34px;
}
#accordion .panel-title a{
    color:#fff;
        background: #318ce7;
    display: block;
    font-size: 16px;
    line-height: 21px;
    font-weight:bold;
    text-transform: uppercase;
    padding: 13px 10px 13px 65px;
}
#accordion .panel-title a.collapsed{
    color:#5b5656;
    background:#fff;
}
#accordion .panel-title a:before, #accordion .panel-title a.collapsed:before {
    content: "\f068";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0px;
    padding: 14px 10px;
    color: #318ce7;
    background: #eee;
}
#accordion .panel-title a.collapsed:before{
    content: "\f067";
}
#accordion .panel-body{
    color: #828282;
    font-size: 14px;
    line-height: 26px;
}


.allx {
    margin: 10px 15px 25px;
    padding: 10px;
    width: 16%;
    font-size: 20px;
    position: relative;border-radius:35px;
    background: #318ce7;
    color: #fff;
}



.ear {
    padding: 12px 12px 10px;
    float: left;    border-left: 5px solid #318ce7;
       margin: 0px 0px 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.21);
}

.ear:hover{border-left:0px;    border-right: 5px solid #318ce7;}

.ols{    width: 70%;
float: left;}


.dls{    width: 30%;
float: left;}

.fc{clear:both;}

.fc li {
    /* float: left; */
    margin: 0px 10px;
    display: inline-block;
    /* width: 46%; */
}

.lcop{  
    /* background: red; */
    /*box-shadow: 0px 0px 5px #ccbdbd;*/
}


.xix{    margin: 12px 0px 5px;}

.xix  i {
    color: #318ce7;margin-left: 8px;}

.fc li i {
    color: #318ce7;
    margin-right: 8px;
}

.ear h3,.latest h3{color: #318ce7; 
    font-size: 17px;}
    

    
    
.ear hr {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px dotted #318ce7;
}


.haf{float:left;width:100%;
    text-align: right;
    padding: 10px 27px;
    border-top: 1px solid #ccc;}


.dls a {
    background: #318ce7;
    padding: 4px 8px;
    margin: 0px;
    border-radius: 35px;
    color: #fff;
    float: right;
}


.d-links li a{padding: 1px 18px 2px;
border-right: 1px solid #fff;}

.cater li:hover{
    padding: 3px 0px;
}


.latest{    padding: 12px;
border: 1px solid #ccc;}

.latest li{
    padding: 10px 6px;
    border-bottom: 1px solid #ccc;
    }


.latest li i{float: left;
    margin-right: 5px;
    color: #318ce7;
    margin-top: 3px;
}



.lat{text-align:center;}

.emp{padding:15px 0px;}



.emp ul{padding:0px;margin:0px;}

.emp li {
    float: left;
    width: 49%;
    background: #f3efef;
    margin: 1px 1px;
}

.gulf h2 {
    text-align: center;
    color: #fff;
    padding: 140px;
    font-weight: 600;
}

.ads {
    margin: 12px 0px;
    /* left: initial; */
    float: left;
}

.taber .ear {
    padding: 0;
    width: 100%;
    float: left;
    border: 0px;
    margin: 0px 0px 30px;
    box-shadow: none;
    border: 1px solid #ccc;
    background: #fafafa;
}
.job-detail-inner{
    padding: 12px 12px 10px;
}
.cod {
    background: rgba(243, 237, 237, 0.38);
    float: left;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 0px 0px 5px #ccc;
}


.gulf{background-image:url("../images/gulf.jpg");background-size:cover;background-repeat:no-repeat;width:100%;height:300px;}
.error{
    color: #ff4933 !important;
}

.fa-red{
    color:red;
}
.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background: #318ce7;
    padding: 10px 20px;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 15px;
}
