/* Smartphones (portrait and landscape) ----------- */
@media only screen and (width : 375px){
    .heightRsp {
        height: 300px !important;
    }
}
@media only screen and (width : 414px){
    .heightRsp {
        height: 273px !important;
    }
}@media only screen and (width : 320px){
    .heightRsp {
        height: 343px !important;
    }
    .price {
        color: #0039A5 !important;
        font-weight: bold !important;
         letter-spacing: 0px;
        font-size: 10px !important;
    }
    .doller {
        margin-left: 0px !important;
    }
}
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px)    {
    /* Styles */
    .footer-menu ul li a {
        font-size: 14px;
        color: #fff;
        font-family: sofiapro-light;
        text-decoration: none;
    }
    .doller {
        margin-left: 16px;
    }
    .owl-item img {
        width: auto !important;
        height: 100px;
        object-fit: cover !important;
    }
    .noMargnSkills{
        margin: 0px !important;
    }
    .navBarHambuger{
        margin: 6% !important;
        padding: 0px  !important;
    }
    .noPadResp{
        padding: 0px;
    }
        .popular-block h5 {
            color: #000;
            font-family: Sofia-Pro-Semi-Bold;
            font-size: 14px;
        }
        .popular-block p {
            color: #000;
            font-family: sofiapro-light;
            font-size: 13px;
        }
    .page-heading a {
        color: #000000b3;
        position: absolute;
        /* margin: 0 auto; */
        right: 40%;
        top: 73%;
        font-size: 15px;
        line-height: 51px;
        font-family: "SF-UI-Display-Medium";
    }
    .discover span {
        color: #000;
        font-size: 30px;
        cursor: pointer;
        font-family: Sofia-Pro-Bold;
    }
    .second-navbar ul li a {
        color: #ffffff8a;
        font-family: 'SF-UI-Display-Light';
        text-decoration: none;
        font-weight: normal;
        letter-spacing: 0.04em;
        font-size: 13px;
        cursor: pointer;
    }
    .card-body P {
        width: 60%;
        margin: 0 auto;
        margin-top: 12px;
        margin-bottom: 48px;
        font-family: 'SF-UI-Display-Regular', sans-serif;
        line-height: 19px;
        font-size: 14px;
    }
    .navbar-brand {
        float: left !important;
        height: 58px !important;
        padding: 15px 20px !important;
        font-size: 18px !important;
        line-height: 20px !important;
    }
    .second-navbar ul li {
        list-style-type: none;
        float: left;
    width: 50%;
        background-color: #0039a5;
        text-align: center;
        padding: 16px;
        color: #fff;
        cursor: pointer;
    }
    .brandResponisve{
        margin: 1% !important;
    }
    .imgWhoru{
        width: 100%;
    }
    .brandLogo{
        width:80%;
    }
    .searchBlank{
        display: none;
    }
    .head-text h2 {
        color: #fff;
        font-size: 20px;
        border-color: #707070;
        line-height: 30px;
        letter-spacing: 0.06em;
        font-family: 'Sofia-Pro-Bold',sans-serif !important;
        margin-bottom: 15px;
    } .head-text h3 {
        color: #fff;
        font-size: 16px;
        border-color: #707070;
        line-height: 17px;
        letter-spacing: 0.06em;
        font-weight: 700;
        font-family: 'Sofia-Pro-Bold',sans-serif !important;
    }
    .height-padding {
        padding: 30px;
    }
    .form-box{
        width: 100%;
        margin-left: 0px !important;
        margin-top: 50px !important;
    }
    input[type="text"] {
        margin-left: 0px;
    }
    .rounded {
        border-radius: 4px 4px 4px 4px !important;
    }
    .success-btn {
        border-radius: 4px 4px 4px 4px;
        width: 100%;
        margin-top: 5%;
        background-color: #00B929;
         margin-left: 0px;
    }
    .page-heading {
        padding: 45px 0px 30px;
        /* margin-bottom: -40px; */
        text-align: center;
        position: relative;
    }
    .verticalAlign {
         margin-top: 0px;
    }
    /*.premium-job-pannel h4 {
        font-size: 16px;
        line-height: 21px;
        color: black;
        margin-top: 1px;
        margin-bottom: 13px;
        line-height: 25px;
        font-family: sofia-pro-regular-webfont;
    }
    .premium-job-pannel p {
        color: #919191!important;
        font-size: 15px;
        margin: 0px !important;
        margin-bottom: 10px !important;
        margin-right: 24px;
        font-family: sofia-pro-regular-webfont;
    }
    .premium-job-pannel .location span {
        font-family: Sofia-Pro-Medium;
        font-size: 14px;
        position: relative;
        margin-left: 13px;
    }*/
    .pricing {
        margin-top: 19px;
        margin-bottom: 19px;
    }
    .skill-btn-Web {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        margin-top: 0px;
        font-size: 12px;
        font-family: sofiapro-light;
        margin-right: 0px;
        color: #00B9F5;
        padding: 6px 8px;
        margin-left: 4px;
        margin-top: 1px;
    }
    .details {
        margin-top: 0px;
    }
    .skill-btn-Ui {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        font-size: 12px;
        font-family: sofiapro-light;
        margin-right: 0px;
        color: #00B9F5;
        padding: 6px 8px;
        margin-left: 4px;
        margin-top: 1px;
    }
    .skill-btn-Design {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        margin-left: 4px;
        margin-top: 1px;
        font-size: 12px;
        font-family: sofiapro-light;
        margin-right: 0px;
        color: #00B9F5;
        padding: 6px 8px;
    }
    .view-all a {
        /* text-decoration: none; */
        color: #000000b3;
        line-height: 4;
        padding: 2px;
        font-family: "SF-UI-Display-Medium";
        font-size: 14px;
    }
    .knowAbtMoreDesc {
        color: white;
        font-family: Sofia-Pro-Medium;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .heightRsp {
        height: 310px !important;
    }
    .latest-job-pannel {
        padding: 4px;
        margin: 0px;
        border-radius: 20px;
        border: 1px solid #ded8d8;
        height: 333px;
        cursor: pointer;
    }
    /*.premium-job-pannel {
        /*padding: 4px;
        margin: 0px;
        border-radius: 20px;
        border: 1px solid #ded8d8;
        height: 307px;
        cursor: pointer;
    }*/
    .questionsMoreHeader {
        color: white;
        font-family: Sofia-Pro-Bold;
        font-size: 16px;
        margin-top: 20px;
    }
    .padding10 {
         padding: 0%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 376px) and (max-device-width : 768px) {
    .footer-menu ul li a {
        font-size: 14px;
        color: #fff;
        font-family: sofiapro-light;
        text-decoration: none;
    }
    .sliderHeader {
        font-family: "Sofia-Pro-Medium";
        font-size: 12px;
    }
    .noMargnSkills{
        margin: 0px !important;
    }
    .item h5 {
        color: black;
        font-size: 10px;
        font-family: Sofia-Pro-Medium;
    }
    .view-all a {
        /* text-decoration: none; */
        color: #000000b3;
        line-height: 4;
        padding: 2px;
        font-family: "SF-UI-Display-Medium";
        font-size: 14px;
    }
    .page-heading a {
        color: #000000b3;
        position: absolute;
        /* margin: 0 auto; */
        right: 43%;
        bottom: 0px;
        font-size: 15px;
        line-height: 51px;
        font-family: "SF-UI-Display-Medium";
    }
    .page-heading {
        padding: 45px 0px 30px;
        /* margin-bottom: -40px; */
        text-align: center;
        position: relative;
    }
    .second-navbar ul li a {
        color: #ffffff8a;
        font-family: 'SF-UI-Display-Light';
        text-decoration: none;
        font-weight: normal;
        letter-spacing: 0.04em;
        font-size: 10px;
        cursor: pointer;
    }
    .navbar-brand {
        float: left !important;
        height: 58px !important;
        padding: 15px 50px !important;
        font-size: 18px !important;
        line-height: 20px !important;
    }
    .head-text h2 {
        color: #fff;
        font-size: 25px;
        line-height: 28px;
        letter-spacing: 0.06em;
        border-color: #707070;
        font-weight: 700;
        font-family: 'Sofia-Pro-Bold',sans-serif !important;
    }.head-text h3 {
        color: #fff;
        font-size: 16px;
        line-height: 17px;
        letter-spacing: 0.06em;
        border-color: #707070;
        font-weight: 700;
        font-family: 'Sofia-Pro-Bold',sans-serif !important;
    }
    .second-navbar ul li {
        list-style-type: none;
        float: left;
        background-color: #0039a5;
        text-align: center;
        /* padding: 7px 20px; */
        padding: 10px;
        color: #fff;
        cursor: pointer;
    }
    .imgWhoru{
        width: 60%;
    }
    .top-candidate a {
        background-color: #00B929;
        border-radius: 5px;
        padding: 5px 35px;
        color: #fff;
        line-height: 5;
        text-decoration: none;
        font-family: "sofia-pro-regular-webfont";
        font-size: 9px;
        cursor: pointer;
    }
    .mrgnBtm50px{
        margin-bottom: 30px;
    }
    .card-body h3 {
        font-family: 'SF-UI-Display-Bold';
        font-weight: bold;
        font-size: 25px !important;
    }
    .logoContainer {
        text-align: center;
         margin-top: 0px;
    }
    .questionsMoreHeader {
        color: white;
        font-family: Sofia-Pro-Bold;
        font-size: 23px;
        margin-top: 53px;
    }
    .knowAbtMoreDesc {
        color: white;
        font-family: Sofia-Pro-Medium;
        font-size: 15px;
        margin-top: 10px;
    }
    .latest-job-pannel {
        padding: 4px;
        margin: 0px;
        border-radius: 20px;
        border: 1px solid #ded8d8;
        height: 303px;
        cursor: pointer;
    }
   /* .premium-job-pannel {
             padding: 4px;
             margin: 0px;
             border-radius: 20px;
             border: 1px solid #ded8d8;
             height: 270px;
             cursor: pointer;
    }*/
    .details {
         margin-top: 0px;
    }
    .knowAbtMoreDesc {
        color: white;
        font-family: Sofia-Pro-Medium;
        font-size: 15px;
        margin-bottom: 60px;
        margin-top: 10px;
    }
    .verticalAlign {
         margin-top: 0px;
    }
    .knowAbtMoreHeader {
        color: white;
        font-family: Sofia-Pro-Bold;
        font-size: 23px;
        margin-top: 42px;
    }
    .owl-item img {
        /*width: 60%!important;*/
        /*height: auto !important;*/
        object-fit: cover !important;
    }
    .pricing {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .upload_cv a {
        font-family: SF-UI-Display-Medium;
        font-size: 14px;
        background-color: #0039A5;
        padding: 13px 35px!important;
        border-radius: 3px;
        color: white;
        /* padding: .5em; */
    }
    .card-body P {
        width: 80%;
        margin: 0 auto;
        margin-top: 12px;
        margin-bottom: 48px;
        font-family: 'SF-UI-Display-Regular', sans-serif;
        line-height: 19px;
        font-size: 13px;
    }
    .top-candidate a {
        background-color: #00B929;
        border-radius: 5px;
        padding: 5px 35px;
        color: #fff;
        line-height: 5;
        text-decoration: none;
        font-family: "sofia-pro-regular-webfont";
        font-size: 9px;
        cursor: pointer;
    }
    .searchBlank{
        display: none;
    }
    .roundedNA{
        border-radius: 4px 0px 0px 4px !important;
    }
    .height-padding {
        padding: 30px;
    }
    .form-box{
        width: 100%;
        margin-left: 0px !important;
        margin-top: 50px !important;
    }
    input[type="text"] {
        margin-left: 0px;
    }
    .rounded {
        border-radius: 4px 4px 4px 4px !important;
    }
    .success-btn {
        border-radius: 4px 4px 4px 4px;
        width: 100%;
        margin-top: 20px;
        background-color: #00B929;
         margin-left: 0px;
    }
    .head-text {
        margin-top: 50px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    .nav li a {
        padding: 10px !important;
        font-family: 'SF-UI-Display-Medium';
        font-weight: normal;
        font-size: 10px;
    }
    .footer-menu ul li a {
        font-size: 14px;
        color: #fff;
        font-family: sofiapro-light;
        text-decoration: none;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape){
    .doller {
        margin-left: 35px !important;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait){
    .doller {
        margin-left: 35px !important;
    }
}


    /* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .popular-block h5 {
        color: #000;
        font-family: Sofia-Pro-Semi-Bold;
        font-size: 12px;
    }
    .heightRsp {
        height: 261px !important;
    }
    .paddingFooter {
        padding-left: 10%;
        padding-right: 11%;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .paddingFooter {
        padding-left: 10%;
        padding-right: 11%;
    }
    .popular-block h5 {
        color: #000;
        font-family: Sofia-Pro-Semi-Bold;
        font-size: 12px;
    }
    .heightRsp {
        height: 293px !important;
    }
    .doller {
         margin-left: 0px;
    }
    .nav li a {
        padding: 10px !important;
        font-family: 'SF-UI-Display-Medium';
        font-weight: normal;
        font-size: 9px;
    }
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1200px) and (max-width: 1365px) {
    /* Styles */
    .skill-btn-Web {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        font-size: 13px;
        font-family: sofiapro-light;
         margin-right: 0px;
        padding: 6px 10px;
        color: #00B9F5;
    }
    .skill-btn-Design {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        margin-left: 0px;
        font-size: 13px;
        font-family: sofiapro-light;
         margin-right: 0px;
        color: #00B9F5;
        padding: 6px 10px;
    }
    .skill-btn-Ui {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        font-size: 13x;
        font-family: sofiapro-light;
         margin-right: 0px;
        color: #00B9F5;
        padding: 6px 10px;
    }
    .doller {
         margin-left:0px;
    }
    .navbar-brand {
        float: left !important;
        height: 58px !important;
        padding: 15px 120px !important;
        font-size: 18px !important;
        line-height: 20px !important;
    }
    .navbar-nav {
        margin-top: 10px;
        width: 62%;
        float: right;
    }
    .second-navbar ul li a {
        color: #ffffff8a;
        font-family: 'SF-UI-Display-Light';
        text-decoration: none;
        font-weight: normal;
        letter-spacing: 0.04em;
        font-size: 10px;
        cursor: pointer;
    }

}/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) and (max-width: 1119px) {
    /* Styles */
    .navbar-brand {
        float: left !important;
        height: 58px !important;
        padding: 15px 55px !important;
        font-size: 18px !important;
        line-height: 20px !important;
    }
    .navbar-nav {
        margin-top: 10px;
        width: 67%;
        float: right;
    }
    .nav li a {
        padding: 10px !important;
        font-family: 'SF-UI-Display-Medium';
        font-weight: normal;
        font-size: 14px;
    }
    .head-text h2 {
        color: #fff;
        font-size: 32px;
        line-height: 24px;
        margin-bottom: 32px;
        letter-spacing: 2px;
        font-weight: 700;
        font-family: 'Sofia-Pro-Bold',sans-serif !important;
    }
    .head-text h3 {
        color: #fff;
        font-size: 21px;
        line-height: 24px;
        margin-bottom: 32px;
        /* letter-spacing: 2px; */
        /* font-weight: 700; */
        font-family: 'Sofia-Pro-Medium',sans-serif !important;
    }
    .rounded {
        border-radius: 4px 4px 4px 4px !important;
    }
    .form-box label {
        color: white;
        font-size: 13px;
        font-family: SF-UI-Display-Regular;
        margin-top: 10px;
    }
    .success-btn {
        border-radius: 4px 4px 4px 4px !important;
        width: 100%;
        background-color: #00B929;
        margin-left: 0px;
    }
    .noPad1024{
        padding:0px !important;
    }
    .second-navbar ul li {
        list-style-type: none;
        width: 12.5%;
        float: left;
        background-color: #0039a5;
        text-align: center;
        padding: 15px 0px 15px 0px;
        color: #fff;
        cursor: pointer;
        font-family: 'SF-UI-Display-Light';
        font-size: 14px;
    }
    .sliderHeader {
        font-family: "Sofia-Pro-Medium";
        font-size: 14px;
    }
    .item h5 {
        color: black;
        font-size: 12px;
        font-family: Sofia-Pro-Medium;
    }
    .top-candidate a {
        background-color: #00B929;
        border-radius: 5px;
        padding: 5px 35px;
        color: #fff;
        line-height: 5;
        text-decoration: none;
        font-family: "sofia-pro-regular-webfont";
        font-size: 11px;
        cursor: pointer;
    }
    .owl-item img {
        width: 85%!important;
        height: 98px;
        object-fit: cover !important;
    }
    .discover span {
        color: #000;
        font-size: 27px;
        cursor: pointer;
        font-family: Sofia-Pro-Bold;
    }
    .page-heading a {
        color: #000000b3;
        position: absolute;
        right: 0px;
        font-size: 15px;
        line-height: 51px;
        font-family: "SF-UI-Display-Medium";
    }
    .card-body h3 {
        font-family: 'SF-UI-Display-Bold';
        font-weight: bold;
        font-size: 20px !important;
    }
    .card-body P {
        width: 60%;
        margin: 0 auto;
        margin-top: 12px;
        margin-bottom: 48px;
        font-family: 'SF-UI-Display-Regular', sans-serif;
        line-height: 19px;
        font-size: 12px;
    }
    .upload_cv a {
        font-family: SF-UI-Display-Medium;
        font-size: 13px;
        background-color: #0039A5;
        padding: 13px 35px!important;
        border-radius: 3px;
        color: white;
        /* padding: .5em; */
    }
    .post_new_job a {
        background-color: #00B929;
        font-family: SF-UI-Display-Medium;
        font-size: 13px;
        padding: 13px 35px!important;
        border-radius: 3px;
        color: white;
    }
    .imgWhoru {
        width: 63%;
    }
    .verticalAlign {
          margin-top: 0px;
        padding-right: 0px;
     }
    .pricing {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
    /*.premium-job-pannel p {
        color: #919191!important;
        font-size: 14px;
        margin: 0px !important;
        margin-right: 24px;
        font-family: sofia-pro-regular-webfont;
    }
    .premium-job-pannel h4 {
        font-size: 16px;
        line-height: 21px;
        color: black;
        margin-top: 1px;
        margin-bottom: 13px;
        line-height: 25px;
        font-family: sofia-pro-regular-webfont;
    }
    .premium-job-pannel .location span {
        font-family: Sofia-Pro-Medium;
        font-size: 14px;
        position: relative;
        margin-left: 13px;
    }*/
    .locationIcon {
        margin-right: 0px;
        top: 3px;
        left: -14px;
        position: absolute;
    }
    .nameLoc {
        margin-left: 60px;
        font-family: Sofia-Pro-Medium;
        position: absolute;
        right: -110px;
    }
    .skill-btn-Design {
        line-height: 0;
        padding: 6px 6px !important;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        margin-left: 10px;
        font-size: 12px;
        font-family: sofiapro-light;
        margin-right: 4px;
        color: #00B9F5;
    }
    .skill-btn-Ui {
        line-height: 0;
        padding: 6px 6px !important;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        font-size: 12px;
        font-family: sofiapro-light;
        margin-right: 4px;
        color: #00B9F5;
    }
    .skill-btn-Web {
        line-height: 0;
        padding: 6px 6px !important;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        font-size: 12px;
        font-family: sofiapro-light;
        margin-right: 4px;
        color: #00B9F5;
    }
    .pricing p img {
        padding: 0px 8px;
        width: 30px;
    }
    .knowAbtMoreHeader {
        color: white;
        font-family: Sofia-Pro-Bold;
        font-size: 21px;
        margin-top: 42px;
    }
    .knowAbtMoreDesc {
        color: white;
        font-family: Sofia-Pro-Medium;
        font-size: 14px;
        margin-top: 10px;
    }
    .details {
        margin-top: 0px;
        text-align: center;
    }
    .latest-job-pannel p {
        color: #919191;
        font-weight: normal;
        font-size: 14px;
        font-family: sofia-pro-regular-webfont;
        position: relative;
    }
    /*.premium-job-pannel p {
        color: #919191;
        font-weight: normal;
        font-size: 14px;
        font-family: sofia-pro-regular-webfont;
        position: relative;
    }*/

    .latest-job-pannel {
        padding: 4px;
        margin: 0px;
        border-radius: 20px;
        border: 1px solid #ded8d8;
        height: 290px;
        cursor: pointer;
    }
    /*.premium-job-pannel {
        padding: 4px;
        margin: 0px;
        border-radius: 20px;
        border: 1px solid #ded8d8;
        height: 267px;
        cursor: pointer;
    }*/
    .logoContainer {
        text-align: center;
         margin-top: 0px;
    }
    .latest-job-pannel h4 {
        font-size: 16px;
        font-family: sofia-pro-regular-webfont;
    }
    /*.premium-job-pannel h4 {
        font-size: 16px;
        font-family: sofia-pro-regular-webfont;
    }*/
    .view-all a {
        /* text-decoration: none; */
        color: #000000b3;
        line-height: 4;
        padding: 2px;
        font-family: "SF-UI-Display-Medium";
        font-size: 15px;
    }
    .questionsMoreHeader {
        color: white;
        font-family: Sofia-Pro-Bold;
        font-size: 21px;
        margin-top: 93px;
    }
}

@media only screen and (min-width : 1200px) and (max-width: 1350px){
    .paddingFooter {
        padding-left: 13%;
        padding-right: 32%;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .price {
        color: #0039A5 !important;
        font-weight: bold !important;
         letter-spacing: 0px;
        font-size: 12px !important;
    }
    .heightRsp {
        height: 261px !important;
    }
    .skill-btn-Web {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        margin-top: 0px;
        font-size: 12px;
        font-family: sofiapro-light;
        margin-right: 0px;
        color: #00B9F5;
        padding: 6px 6px;
        margin-left: 4px;
        margin-top: 1px;
    }
    .skill-btn-Ui {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        font-size: 12px;
        font-family: sofiapro-light;
        margin-right: 0px;
        color: #00B9F5;
        padding: 6px 6px;
        margin-left: 4px;
        margin-top: 1px;
    }
    .skill-btn-Design {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        margin-left: 4px;
        margin-top: 1px;
        font-size: 12px;
        font-family: sofiapro-light;
        margin-right: 0px;
        color: #00B9F5;
        padding: 6px 6px;
    }
}

@media only screen and (width : 320px) and (min-device-height : 480px) and (max-device-height : 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .heightRsp {
        height: 331px !important;
    }
    .latest-job-pannel {
        padding: 4px;
        margin: 0px;
        border-radius: 20px;
        border: 1px solid #ded8d8;
        height: 360px;
        cursor: pointer;
    }
    .popular-block h5 {
        color: #000;
        font-family: Sofia-Pro-Semi-Bold;
        font-size: 13px;
    }
    .popular-block h5 {
        color: #000;
        font-family: Sofia-Pro-Semi-Bold;
        font-size: 11px;
    }
    .popular-block p {
        color: #000;
        font-family: sofiapro-light;
        font-size: 12px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .heightRsp {
        height: 331px !important;
    }
    .price {
        color: #0039A5 !important;
        font-weight: bold !important;
        letter-spacing: 0px;
        font-size: 10px !important;
    }
    .skill-btn-Web {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        margin-top: 0px;
        font-size: 11px;
        font-family: sofiapro-light;
        margin-right: 0px;
        color: #00B9F5;
        padding: 6px 3px;
        margin-left: 4px;
        margin-top: 1px;
    }
    .skill-btn-Ui {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        font-size: 11px;
        font-family: sofiapro-light;
        margin-right: 0px;
        color: #00B9F5;
        padding: 6px 3px;
        margin-left: 4px;
        margin-top: 1px;
    }
    .skill-btn-Design {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        margin-left: 4px;
        margin-top: 1px;
        font-size: 11px;
        font-family: sofiapro-light;
        margin-right: 0px;
        color: #00B9F5;
        padding: 6px 3px;
    }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .price {
        color: #0039A5 !important;
        font-weight: bold !important;
         letter-spacing: 0px !important;
        font-size: 12px !important;
    }
    .heightRsp {
        height: 261px !important;
    }

}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .second-navbar ul li {
        list-style-type: none;
        float: left;
        width: 50%;
        background-color: #0039a5;
        text-align: center;
        padding: 16px;
        color: #fff;
        cursor: pointer;
    }
    .price {
        color: #0039A5 !important;
        font-weight: bold !important;
         letter-spacing: 0px !important;
        font-size: 12px !important;
    }
    .skill-btn-Design {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        margin-left: 4px;
        margin-top: 1px;
        font-size: 12px;
        font-family: sofiapro-light;
        margin-right: 0px;
        color: #00B9F5;
        padding: 6px 6px;
    }
    .skill-btn-Ui {
        line-height: 0;
        border: 1px solid #00B9F5;
        background-color: #fff;
        height: 24px;
        border-radius: 30px;
        font-size: 12px;
        font-family: sofiapro-light;
        margin-right: 0px;
        color: #00B9F5;
        padding: 6px 6px;
        margin-left: 4px;
        margin-top: 1px;
    }
    .popular-block h5 {
        color: #000;
        font-family: Sofia-Pro-Semi-Bold;
        font-size: 13px;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .heightRsp {
        height: 260px !important;
    }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .popular-block h5 {
        color: #000;
        font-family: Sofia-Pro-Semi-Bold;
        font-size: 13px;
    }
    .heightRsp {
        height: 333px !important;
    }
}
