.navbar-default {
    background-color:  #030A63 ;
    border-color:    #030A63 ;
    /*box-shadow: none  !important;*/
}
.navbar {
    position: fixed  !important;
    min-height: 70px  !important;
    margin-bottom: 00px  !important;
    border: 1px solid transparent  !important;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0px;
    display: none;
    border-top-left-radius: 0;
    background-color: #03074399;
    border: transparent;
    border-top-right-radius: 0;
    font-family: 'SF-UI-Display-Medium';
}

.dropdown:hover .dropdown-menu {display: block;}


body {
    /*  */
     background-color: #fff !important;
    padding-top: 0px !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    /*color: #fff !important;*/
    background-color: transparent !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff !important;
    background-color: #19368300 !important;
    color: #00B929 !important;
}